[2017-04-24 16:05] hoffmael opened #1 "Gutter indicators"
Great to see mercurial integrated to VS code! To match git functionality I'd love to be able to see local changes indicated per line in the gutter: https://code.visualstudio.com/docs/editor/versioncontrol#_gutter-indicators

![image](https://cloud.githubusercontent.com/assets/24258055/25346644/60ba79a2-28d5-11e7-861f-4b8262dbb10e.png)

[2017-04-24 21:16] mrcrowl commented on #1
@hoffmael Hmm... there must be some configuration setting that I haven't taken into account.  The gutters are definitely intended to work like git.

On my machine (Windows 8.1, VS Code 1.11.2, Mercurial 4.1.2) the gutters look like this:
![gutters](https://cloud.githubusercontent.com/assets/1796256/25358880/203b91d2-2997-11e7-99b2-4b8eab58d2df.gif)

Can you please send me your OS, VS code and hg v

[2017-04-24 22:24] hoffmael commented on #1
Ah, you are right, if I restart VS code I see the gutters working as expected. I think the issue comes from a hang while refreshing the repo state. I the progress bar spinning waiting on something, I'm suspecting the hg incoming command timed out due to a slow server and hung the hg summary command.

![image](https://cloud.githubusercontent.com/assets/24258055/25361262/7a12c294-290a-11e7-9858-1c63

[2017-04-24 23:29] mrcrowl commented on #1
Ah, yes, it does look like a hang.  `hg incoming` is called by the auto-incoming/outgoing counter.

A couple of settings (.vscode\settings.json or user settings) that may help in the meantime, until I can resolve the hang:
[code]

Also, could you run `hg incoming -q` from the terminal and let me know if there are any unexpected messages / prompts appearing that might be causing the hang?  Possibly

[2017-04-24 23:31] mrcrowl commented on #1
Also, please try `hg outgoing -q` from the terminal.  It might be the next command that's hanging.

[2017-04-25 00:01] hoffmael commented on #1
This looks to be resolved by just setting "hg.commandMode": "cli". Repo refresh and side-by-side diffs no longer hang. I was able to keep hg.autoInOut as true with command line mode.

[2017-04-25 15:19] hoffmael commented on #1
After a little more testing this seems to be working well. Thank you for the quick response. CLI might need to become the default command mode.

This can be closed.

[2017-04-25 15:19] #1 closed

[2017-04-26 17:54] nioh-wiki opened #2 "Great extension! Enhancement suggestion - open multiple files from context menu."
If you select multiple files from the list of tracked/untracked files (shift/ctrl + right click) and select "Open Changes" or "Open File" from the context menu, it only opens one file. Could you please make this open multiple files? Thanks!

Visual Studio Code 1.11.2 (Ubuntu)
Hg 1.0.2

[2017-04-26 18:50] mrcrowl commented on #2
Thanks for letting me know. I'll look into this.
On Thu, 27 Apr 2017 at 5:54 AM, nioh-wiki <notifications@github.com> wrote:

[2017-04-27 11:07] mrcrowl commented on #2
@nioh-wiki these content menu options are now working as expected in Hg 1.0.3

[2017-04-27 11:07] #2 closed

[2017-05-02 10:57] savioret opened #3 "[Request] Hide untracked files"
Hello,

First, thanks for this module !
My project has thousands of untracked files, which slows down the status query.
 I use to perform a "hg status -q" or "hg status -mar" it would be nice if I could set this from the config, or just a flag to indicate the I don't want to show untracked files.

Thank you.

[2017-05-02 11:00] mrcrowl commented on #3
Okay. Please forgive me for asking. But is this a situation where you can't
use a .hgignore file for some reason?
On Tue, 2 May 2017 at 10:57 PM, savioret <notifications@github.com> wrote:

[2017-05-02 11:09] savioret commented on #3
You are right, it solves the problem, and it is a valid solution for me.
Thanks, I proceed to close the issue.

[2017-05-02 11:09] #3 closed

[2017-05-03 03:01] dpetukhov opened #4 "Can't commit message containing non-ascii chars"
Hi.

Thanks for great plugin - it's very easy for use.
When I try to commit with message like 'Поправил загрузку Roboto в стилях' - plugin can't do it.

Here is the log:

[2017-05-03 06:17] mrcrowl commented on #4
Thanks Dmitry. I'll see if I can sort that out for you.
On Wed, 3 May 2017 at 3:01 PM, Dmitry Petukhov <notifications@github.com>
wrote:

[2017-05-03 14:09] mrcrowl commented on #4
@dpetukhov mac/windows/linux version?

[2017-05-03 17:15] mrcrowl commented on #4
Here's the [previous version](https://www.dropbox.com/s/2xkig0et5vgw82b/easy-less-1.4.1.vsix?dl=0) as a .vsix file.

You can install via Extensions > Triple dot menu > Install from vsix

[2017-05-03 17:18] mrcrowl commented on #4
Please ignore last message, wrong issue :face_with_head_bandage:

[2017-05-04 01:49] dpetukhov commented on #4
I have issues with linux version, I'm using Ubuntu 16.04.
Just tested on windows - it's working correct there.

On 3 May 2017 at 22:09, mrcrowl <notifications@github.com> wrote:

[2017-05-04 09:47] mrcrowl commented on #4
@dpetukhov can you please check if you have an HGENCODING environment variable on windows?

From cmd prompt: `SET`, and check if HGENCODING is in the list.

That _might_ be the difference?

[2017-05-05 11:36] mrcrowl commented on #4
@dpetukhov Hg v1.0.4 has been published, and hopefully helps resolve the issue with unicode commit messages.

[2017-05-06 08:56] mrcrowl opened #6 "Doesn't work on linux/ubuntu"

[2017-05-06 08:57] #6 closed

[2017-05-06 15:11] dpetukhov commented on #4
Thanks, I will check it in few days and let you know.

[2017-05-06 15:31] dpetukhov commented on #4
And I have not set hgencoding on windows.

[2017-05-10 06:47] dpetukhov commented on #4
I have checked new release and everything works fine now. Thanks!

[2017-05-10 06:47] #4 closed

[2017-05-10 21:49] jacereda opened #7 "Support per-user .hgrc"
Looks like the extension only supports .hg/hgrc for config. I have a single .hgrc in my home path containing my settings, but if I try to commit it yields a "no username" error.

[2017-05-10 21:57] mrcrowl commented on #7
Thanks for reporting. I'll look into this.
On Thu, 11 May 2017 at 9:49 AM, jacereda <notifications@github.com> wrote:

[2017-05-11 17:57] nsgundy opened #8 "Support for "current branch" workflow"
Version: 1.0.4
Thanks for the great extension, really liking it so far!

I'd like to request an option to be added that allows for the following:
* Push command will only push the current branch `hg push -r .`
* The "changes" counter (in the status bar next to the current branch name) only shows the outstanding commit to be pushed / pulled from the current branch and clicking on it will only pull

[2017-05-11 19:50] mrcrowl commented on #7
@jacereda, could I get you to do a couple of things to help me problem-solve?

1. Have you configured any settings for the Hg extension?  Specifically, is `hg.commandMode` set to `"server"`?
If your extension version is v1.0.3 or higher then the default is `"cli"`.

2. From the integrated terminal in VS Code, please run:
[code]
   hgconfig.txt should now contain the source for each of your setting

[2017-05-11 19:54] mrcrowl commented on #8
Sounds good.  Will look into this.

[2017-05-11 21:16] jacereda commented on #7
Hi,

The only hg-related setting I had was:

    "hg.path": "c:/users/jacereda/apps64/Mercurial/hg.exe",

Looks like when hg can't be located in the path it won't read `~/AppData/Roaming/.hgrc` (although it reads `~/mercurial.ini` and `~/.hgrc`, so this might well be a mercurial bug. So the workaround is clear, just use `~/.hgrc` or add the mercurial executable to `%PATH%`. I moved the configurati

[2017-05-12 11:01] #7 closed

[2017-05-14 11:43] ugurozturk opened #9 "Filename character problem"
![ch](https://cloud.githubusercontent.com/assets/7994408/26033373/8a2a04fe-38b3-11e7-9ee8-f1a4d892022c.PNG)

can't work with them. Also i am don't know if it is about to extension or hg itself

[2017-05-16 09:20] mrcrowl commented on #8
Would you be okay if the push current branch used `hg push -b .`?  I think it's the same in most situations, but will also include other forks with the same branch name as current.

[2017-05-17 02:03] nsgundy commented on #8
That would just fine 👍

[2017-05-21 11:24] #8 closed

[2017-05-21 11:31] mrcrowl commented on #8
Released in v1.0.7

[2017-05-23 06:48] nsgundy commented on #8
Thanks so much, love it!

[2017-05-26 01:08] ajansveld opened #10 "Option to use bookmarks instead of branches"
Some of us use bookmarks instead of named branches in hg. Would it be possible to add a user option that uses a different command set for this type of setup?

It would require changing just a few commands (mainly 'hg branch' and 'hg branches' to 'hg bookmarks') with some additional string parsing of the output.

Would be happy to help/test with this.

[2017-05-26 05:57] mrcrowl commented on #9
Thanks for reporting.

Could you please paste one of the filenames into this issue so that I can do some testing?

[2017-05-26 07:57] mrcrowl commented on #10
Good point @ajansveld

Here's what I think would need to change:
- Extend "Update to..." command to include bookmarks in the list of "revs" that can be updated to.
- Add new command "Set bookmark" to set a bookmark on the current parent (show a warning if the bookmark is already set elsewhere, with option to force)
- Add a boolean `hg.preferBookmarks` setting to indicate whether user prefers to wo

[2017-05-26 20:37] ajansveld commented on #10
Thanks @mrcrowl, I agree with your proposal with the following additional thoughts:

To avoid confusion can we show bookmarks **instead** of branches/tags, not both?

I was thinking of `hg.useBookmarks` to convey the intent, but either one works.

Would prefer not to show the branch name, again to avoid confusion. If there is no bookmark a combination of local/global rev id (e.g. `7173:bd40220086d

[2017-05-27 04:42] mrcrowl opened #11 "Offer to add untracked files when commit attempted with no other changes (but untrackeds exist)"

[2017-05-28 06:30] mrcrowl commented on #10
Good feedback. Thanks.

[2017-05-29 19:56] ugurozturk commented on #9
Kaplanoğlu
Oğuzhjan

And probabbly : ş,ö,ç,ü,ı,ğ

[2017-05-30 19:31] Anteru opened #12 "Add option to skip checking with the server for updates"
I'm on Windows, and I don't have pagent running at all times. What happens is that some repositories will thus greet me with a "PuTTY Fatal Error: Disconnected: No supported authentication methods available (server sent: publickey)" or I get asked for my password all the time. However, I don't need the plugin to check those repositories, so ideally I'd like a global setting to turn off the checks

[2017-05-30 20:11] mrcrowl commented on #12
Thanks for the feedback about the prompt. Good idea!

In the meantime, I'm pretty sure you can get what you want by setting the
"hg.autoInOut" setting to false from vs code workspace settings.
On Wed, 31 May 2017 at 7:31 AM, Matthäus G. Chajdas <
notifications@github.com> wrote:

[2017-06-07 10:07] mmmmmtasty commented on #10
This is exactly the feature I was just about to request, it matches my workflow of bookmarks over named branches as well. Just adding support for it!

[2017-06-08 10:24] mrcrowl commented on #10
@ajansveld, so I've been playing with this a little and had a question regarding this:

Should an exception be made for the default branch? i.e. when you want to get back to the main trunk line?

[2017-06-08 15:31] ajansveld commented on #10
I don't think so. In a bookmark-driven repo typically all development takes place on the default branch anyway, so there is no reason to surface that in the UI [1].

If someone does run `hg update default` for some reason, no bookmark is active so showing the commit hash seems like the right thing to do. This is actually a bad state to be in so it would be great to even highlight this (e.g. in red

[2017-06-09 10:51] mrcrowl commented on #10
Progress update:
[x] Parse bookmarks from hg summary: when an active bookmark is present (e.g. has the * on it) and user setting prefers bookmarks, then show the active bookmark in the bottom-left of status bar.
- [x] Add a boolean hg.useBookmarks setting to indicate use of bookmarks instead of branches.
- [x] When useBookmarks, "Update to..." command will only include bookmarks in the list of "re

[2017-06-09 10:52] mrcrowl commented on #10
Wondering: Should "Remove bookmark" offer to remove the remote bookmark immediately.  Otherwise there is no record of which bookmarks to remove on next push.

[2017-06-09 13:09] mrcrowl commented on #10
@ajansveld @mmmmmtasty I've got a version of the extension which you can install to see how the bookmarks support is looking so far.

To install:
1. Download the [.vsix file](https://github.com/mrcrowl/vscode-hg/releases/tag/v1.1.0%CE%B2) from the releases page.
2. In VS Code, go to the Extensions tab.
3. Click the ellipses and select Install from .vsix...
4. Select the .vsix file that was downloa

[2017-06-09 19:50] ajansveld commented on #10
Works great so far! The only thing I noticed is that the in/out indicators are gone, i.e. it seems that `hg.autoInOut` is not working.

[2017-06-12 10:02] mrcrowl commented on #10
@ajansveld @mmmmmtasty another version to try here: https://github.com/mrcrowl/vscode-hg/releases/tag/v1.1.1%CE%B2
Changes:
 * The `hg.autoInOut` should work now.
 * Pull is now limited to the bookmark name you are on when `hg.pushPullScope` == "current"
 * Using "Update to..." when the working directory is dirty now has a message to say why only a subset of bookmarks are visible (namely those on

[2017-06-12 20:26] ajansveld opened #13 "Do not check files outside of the hg root"
I noticed that the extension runs the following for files opened by vscode, including those that are not in the repo, e.g.
`"<InstallDir>\hg.exe" cat ../../Users/AJ/AppData/Roaming/Code/User/settings.json`

This will return a (silent) error so perhaps it's worth excluding the check for any files that are not under `hg root`.

Also, these `hg cat` commands are not logged in the Output window, is th

[2017-06-12 20:41] ajansveld opened #14 "Conflict with blackbox extension"
Turning on the Mercurial [blackbox](https://www.mercurial-scm.org/wiki/BlackboxExtension) logging extension causes vscode to run its hg status* commands in a tight loop, noticeable by the flashing blue badge on the Source Control icon in the Activity Bar.

The extension writes its log files in the repo's .hg folder, perhaps that triggers this behavior?

\*
hg status -C
hg cat \<filename\> *(multip

[2017-06-13 00:40] ajansveld commented on #10
Thanks! I noticed that after a Pull where the incoming changeset advances the active bookmark, there is no automatic `hg update` to bring the cloned repo in sync with the master. Should we include (an option to do) this?

At the very least there I think there should be some visual indication that the bookmark is no longer current...

[2017-06-13 14:18] ajansveld commented on #10
Sorry, one more: once the extension has seen an incoming changeset, it stops refreshing so the indicator doesn't change if more changesets are added to the master (or the user runs `hg pull` manually).

Please let me know if you want me to raise this as a separate issue.

[2017-06-14 08:43] mrcrowl commented on #10
@ajansveld can you step me through a repro for that last issue?  I think a new github issue a probably a good idea in this case.

[2017-06-14 09:05] mrcrowl commented on #10
Think I've tracked the cause of what you're describing.  `hg incoming` doesn't include the remote bookmarks unless you use the `-B` option flag.  But then `-B` only includes the hash-code for each remote bookmark, so I'll need to run `incoming` twice if we still want to show a count of how _many_ incoming changesets there are.
i.e. To get an accurate changeset count when pushPullScope == 'current'

[2017-06-14 20:17] ajansveld commented on #10
I suppose the count isn't that important, would you then also remove the incoming/outgoing counts from the status bar and tooltip to avoid confusion (since this affects the outgoing count as well)?

[2017-06-14 20:22] ajansveld opened #15 "Auto update after pull"
Could you add an option (e.g. `hg.autoUpdate`) to automatically update to the current branch/bookmark after a pull?

(You can probably tell I am really excited about this extension but if you'd like me to slow down submitting issues/feature requests just let me know!)

Thanks!

[2017-06-14 20:32] ajansveld opened #16 "Incoming/outgoing changeset indicators do not reset after external pull/push"
If there are incoming or outgoing changesets pending (and shown on the status bar) and the user subsequently runs a `hg pull` or `hg push`, the indicators do not reset.

The extension still runs these commands periodically, which return nothing (as expected):
[code]

[2017-06-17 11:29] #13 closed

[2017-06-17 11:29] #16 closed

[2017-06-17 13:09] #15 closed

[2017-06-17 13:12] mrcrowl commented on #10
[Another version available](https://github.com/mrcrowl/vscode-hg/releases/tag/v1.1.2%CE%B2) for you to try @ajansveld.

[2017-06-18 01:25] ajansveld commented on #10
Fantastic! Great that you managed to implement the actual incoming/outgoing count for the active bookmark. I found that it doesn't always work when there are also incoming changesets for other bookmarks; if you append the following lines to [incoming.ps1](https://github.com/mrcrowl/vscode-hg/blob/fcb92695bdb1361451330f9180ee2756224edc82/test/bookmarks/incoming.ps1) we see no incoming changes in th

[2017-06-18 01:43] mrcrowl commented on #10
Nice find... some dodgy use of /g flag for regex.  Fixing.

[2017-06-18 05:48] mrcrowl commented on #10
Released as v1.1.3.  Thanks for your help @ajansveld

[2017-06-18 05:48] #10 closed

[2017-06-19 20:35] Danieleeee opened #17 "Serena Dimesions"
Hi,
is possible to use your extensions with Serena Dimensions SCM?

[2017-06-19 20:47] mrcrowl commented on #17
I don't think that's possible... *unless *Serena Dimensions CM happens to
be use mercurial under the hood?

You're most welcome to use the vscode.hg source as a basis for developing a
new SCM provider in vscode though, if that helps.

See
https://github.com/Microsoft/vscode-docs/blob/vnext/docs/extensionAPI/api-scm.md

On Tue, 20 Jun 2017 at 08:35 Danieleeee <notifications@github.com> wrote:

[2017-06-22 00:36] ajansveld commented on #14
This doesn't seem to be resolved completely, there are still multiple `hg cat` calls when the blackbox extension is enabled. Not sure if you saw my comment [here](https://github.com/mrcrowl/vscode-hg/commit/48aef4e53e2482102f015b5e4581b20942a0474c).

[2017-06-22 12:37] gep13 opened #18 "Support for shelve/unshelve"
Have you thought about adding support for doing shelve/unshelve operations within this extension?

[2017-06-23 21:30] gregvanl opened #19 "Hg SCM Provider not displayed in Switch SCM Provider... choices"
Install the HG extension and reload VS Code
In the Source Control view, go to the More... menu and select Switch SCM Provider...
There is no entry for Hg.
There is no indication that a dependency might be missing.

[2017-06-23 23:29] mrcrowl commented on #19
Can you open the Output panel, and see if Hg is in the dropdown list?

If that is showing, do you see any messages in the Hg output?

On Sat, 24 Jun 2017 at 9:30 AM, Greg Van Liew <notifications@github.com>
wrote:

[2017-06-26 23:59] gregvanl commented on #19
Yes, Hg is in the Output dropdown and shows:
Could not find hg, tried:
 - C:\Program Files\Mercurial\hg.exe
 - C:\Program Files (x86)\Mercurial\hg.exe
 - C:\Program Files\TortoiseHg\hg.exe
 - C:\Program Files (x86)\TortoiseHg\hg.exe
 - hg
Indeed I don't have Mercurial installed so this might be "by design".

It would be less confusing if I could switch to the Hg provider and then be prompted to in

[2017-06-28 08:56] #17 closed

[2017-06-28 08:58] mrcrowl commented on #18
Thanks for the suggestion.  Let me know your thoughts about how this would be best integrated.  I'm undecided on this at the moment.

[2017-06-28 09:10] mrcrowl commented on #14
@ajansveld can you provide me with a small repro?  I've tried enabling blackbox and can't see the behaviour you're describing.

[2017-06-28 10:07] gep13 commented on #18
@mrcrowl I was worried that you might ask that 😄

Using an example of how SourceTree does it... You have the option of creating a shelve at any point.  You are prompted for a shelve name, and then all uncommitted changes are added to it and removed from uncommitted changes.  You then have the ability to view existing shelves, and choose to unshelve it.

I could see those options being additional c

[2017-06-28 16:03] ajansveld commented on #14
Sure:
- Enable the blackbox extension through the TortoiseHg UI or by setting this in your .hgrc or Mercurial.ini:
[code]

- Open vscode in a local clone, e.g. `code C:\temp\test\sandbox\local\`
- Open a file in that repo, e.g. abd.txt
- Run the `Hg: Show hg output` command from the Command Palette
- See the "hg cat abcd.txt" commands scroll by

Closing the file tab will stop the hg cat commands.

[2017-07-03 20:30] mrcrowl commented on #18
Thanks for the ideas.  I think I'll wait for some others to vote on this before investing too much time on it.
I'm open to a pull-request if you're interested in having a crack at it.

[2017-07-07 06:14] gep13 commented on #18
@mrcrowl It is unlikely that I will be able to help with this, already juggling too many OSS projects as it is.  Sorry!

[2017-07-10 23:29] andrew-lee opened #20 "Changeset descriptions are truncated at the first colon (:)"
The changeset descriptions shown in the “Hg: Log…” and “Hg: Show file history…” commands is truncated at the first colon (:) in the description. For example a changeset description of the form:

Shows as just "Bug 12345" it would be useful to see the full changeset description or optionally (by adding a configuration option) just the first line (i.e. like `hg log --template "{desc|firstline}\n"`)

[2017-07-14 16:37] chrsmrtn- commented on #18
My team just grabbed this extension and this was one of the things that came up that we'd love to have.

[2017-07-21 12:59] ajansveld commented on #14
I think this is caused by the blackbox extension creation log files with multiple extensions, e.g.
[code]

Suggestion for a fix: change (in [src/model.ts](https://github.com/mrcrowl/vscode-hg/blob/master/src/model.ts))
[code]
to:
[code]
Thanks!

[2017-07-30 08:14] mrcrowl commented on #14
@ajansveld Thanks for investigating further.  Could you try installing [this version](https://github.com/mrcrowl/vscode-hg/releases/tag/1.1.5) manually?

[2017-07-30 08:28] #20 closed

[2017-07-30 08:37] #19 closed

[2017-07-30 16:01] ajansveld commented on #14
Bummer, 1.1.5 still exhibits the issue. Procmon shows that the blackbox extension writes two more temporary files to .hg (sorry, should have checked this before):
[code]
These are not excluded by the suggested code, can you change it to `const isRelevant = !/[\\\/]\.hg[\\\/](\w?lock.*|.*\.log([-\.]\w+)?)$/.test(uri.fsPath);`?

[2017-07-30 19:38] ajansveld opened #21 "PowerShell session crashes when viewing diff"
Repro:
- Install PowerShell extension
- Commit a .ps1 file to a hg repo
- Make a change to the file and save
- In the SCM side bar, click on the file (or select Open Changes from the context menu)
- vscode shows the diff but a second later the PowerShell session terminates and prompts to restart

The PowerShell extension [debug logs](https://github.com/mrcrowl/vscode-hg/files/1185941/logs.zip) men

[2017-08-01 10:23] mrcrowl commented on #14
Bugger! Try [this one instead](https://github.com/mrcrowl/vscode-hg/releases/tag/v1.1.6).

[2017-08-01 13:45] ajansveld commented on #14
Winner! Thanks!

[2017-08-02 21:41] ajansveld commented on #21
Never mind, this looks like a PowerShell extension problem and I will submit an issue there.

[2017-08-02 21:41] #21 closed

[2017-08-15 16:18] #14 closed

[2017-08-24 19:24] ajansveld opened #22 "Bookmark update issues with hg.pushPullScope = "current""
I am running into some issues when using the following settings:
[code]
If you are working in bookmark A and want to update to bookmark B, the expected workflow would be to run `Hg: Pull` followed by `Hg: Update to...` (bookmark B). However, if there are new revisions to bookmark B on the master, you don't see these since the Pull command only pulled changes for bookmark A. You need to run `Hg: Pu

[2017-08-30 13:24] tlourey opened #23 "Using Bookmarks AND Branches together"
It may not be normal, but i'm using both Bookmarks AND Branches.

HG supports this workflow fine. But the plugin doesn't seem to from what I can see.

Thanks.

[2017-09-13 16:52] jerivas opened #24 "Conflicts with git extension"
It seems like the Mercurial extension breaks the git SCM provider from marking changes in the gutter. I started noticing this with VSCode 1.16.0, when multiple SCM provider support was added. https://code.visualstudio.com/updates/v1_16#_source-control

- VSCode Version: 1.16.0
- OS Version: Windows 10

Steps to Reproduce:

1. Install the Mercurial extension.
2. Open a project that uses a git repo.

[2017-09-17 23:54] valtism opened #25 "Pulling does not visually complete on front end."
Pulling from a large repo with over SSH, the bottom bar shows the spinning arrows working with a `Pulling changes` tooltip. Although the pull seems to finish (as confirmed in TortiseHg) the spinning icon never seems to finish,

[2017-09-27 19:06] devuxer opened #26 "Correctly adopt multirepo SCM"
Since upgrading to VSCode 1.16.0, which supports multiple SCM providers, I'm having issues with the vscode-hg. extension. It attempts to track uncommitted files even for Git projects, which causes the SCM badge to show 99+ even though all my changes have been committed.

The VSCode developers claim this is definitely an issue with this extension and not VSCode (for reference, please see https://gi

[2017-09-28 23:30] Goodwine opened #27 "Allow setting revision to diff against"
My workflow is something like..

[code]

So I would like to specify a revision to diff against, for example `.^` or `my_tag`

Is it possible to add this option?

[2017-10-10 15:55] joejo-unity opened #28 "Extensions creates runaway Python process"
Using both VSCode 1.16 and 1.17, I have had issues with an errant subprocess of VSCode sucking up all RAM/DISK on my machine causing the OS to panic. After disabling extension after extension it appears that the culprit is this Hg extension.

The first issue is that the process, as it runs, is eating up every resource it is able to get a hold of. The second issue is that, when VS Code is quit this

[2017-10-18 23:14] seanmcbreen opened #29 "VS Code Multi-root Workspaces and Hg Support"
Hi,

I'm from the VS Code team [we have chatted before :)] and I'm reaching out with some additional resources for adopting multi-root workspaces.

But first let me say thank you for working on and maintaining [Hg/Mecurial Support for VS Code](https://marketplace.visualstudio.com/items?itemName=mrcrowl.hg), we really appreciate the work you have done to make VS Code better.

The purpose of this is

[2017-10-22 09:29] mrcrowl commented on #29
WIP

[2017-10-22 09:30] mrcrowl commented on #26
Thanks @devuxer. Work is underway to correct this. Please follow issue #29.

[2017-10-22 09:30] #26 closed

[2017-10-22 09:32] mrcrowl commented on #28
@joejo-unity, sorry for the slow response.

Does this happen in Hg repos?  Or only in repos using other source control providers?

[2017-10-22 09:35] mrcrowl commented on #24
Thanks @jerivas, and sorry for the trouble. Hg wasn't updated to compensate for multiple SCM providers, introduced in vscode 1.1.6.0. The context flag it relied on was `scmProvider = hg` which was deprecated.

Work is now underway to correct this in #29.

[2017-10-22 09:35] #24 closed

[2017-10-22 13:06] mrcrowl commented on #29
Addressed in [v1.2.0](https://github.com/mrcrowl/vscode-hg/releases/tag/v1.2.0).  Now uploaded to marketplace.

[2017-10-22 13:06] #29 closed

[2017-10-22 13:10] mrcrowl commented on #28
Also, please let me know if the v1.2.0 update makes any difference.

[2017-10-23 16:32] cflewis opened #30 "Support commit --amend"
It would be rad to be able to amend existing commits rather than always making new ones :)

[2017-10-25 18:41] nsgundy opened #31 "Gutter change indicators missing"
VSCode: 1.17.2
Hg: 4.0
vscode-hg: 1.2.0

Issue:
The Hg change indicators are missing from the gutter. Not quite sure when this started happening, but it wasn't that long ago. The Git scm provider still shows them (on a different workspace). Everything else seems to be working. The badge on the left counts the changed files, the diffs show as normal and the status bar shows the current branch and t

[2017-10-25 18:44] mrcrowl commented on #31
Apologies, this bug was introduced in 1.2.0.

A colleague pointed this out to me yesterday also.

I hope to have it resolved soon.

[2017-10-25 18:46] mrcrowl commented on #31
In the meantime, you could manually install an older version from the releases page using a vsix file.

[2017-10-25 19:01] nsgundy commented on #31
Thanks for the tip. I had a bit of trouble at first installing the vsix file (first time I am trying that) as I kept getting version 1.2. All good though after I disabled auto-updating for extensions. The gutters are back with 1.1.6. Looking forward to the new version!

[2017-10-27 08:56] #31 closed

[2017-10-28 17:00] nsgundy commented on #31
Confirmed fixed in `1.2.1`. Thanks!

[2017-10-30 23:42] seanmcbreen commented on #29
Sorry for asking post the publish of v1.2.0 :s

**Request:** if you have prepared your extension for Multi-root Workspaces we would love you to add multi-root ready to your `package.json` i.e. `"keywords": ["multi-root ready"]`. If you upgrade to `VSCE 1.32.0` this can be added to any existing keywords and will not be counted against the maximum of 5 allowed keywords.

This will help us keep track

[2017-11-01 06:41] mrcrowl commented on #29
Done... see v1.2.2.

Unrelated, any idea when the blue icon vscode lands? :D

On Tue, 31 Oct 2017 at 12:42 Sean McBreen <notifications@github.com> wrote:

[2017-11-01 13:08] seanmcbreen commented on #29
1.18 should ship mid next week with multi-root, the cool new SCM stuff and... a blue icon :)

Thank you!
Sean

[2017-11-08 21:01] erocheleau opened #32 "Trouble resolving merge conflicts with Mercurial and vscode"
I have done a simple `hg merge branch` into my current branch.

2 files are in merge conflicts. They are shown correctly separate from the other files that were auto-merged.
However when trying to open the conflict files to see the comparison about what changed I get the following error:

`Unable to open 'gulpfile.js (local <-> other)': Unexpected token p in JSON at position 0.`

Also when trying

[2017-11-08 21:07] erocheleau commented on #32
Using hg 4.2.1
Vscode Version 1.17.2

[2017-11-13 09:38] Numinos opened #33 "Subfolders as multi-root"
If project having structure:
root folder with .hg
- subfolder with another .hg

and trying to flatten subrepositories as folders in workspace as
- root repo
- sub repo

extension is not detecting them as separate scm entities.

[2017-11-14 12:10] MHHenriksen opened #34 "Gutter status shows incoming/outgoing numbers as double the actual amount"
Running v1.2.2-3, but I think it's been a problem since I started using it.

For example, in a repo where I have 2 incoming and 3 outgoing changesets, the gutter will display 4↓ 6↑.

It looks like it happens because I've extensively customized formatting in my .hgrc (well, mercurial.ini since I'm on Windows).  I recommend setting the HGPLAIN env var when the plugin invokes hg, see https://www.merc

[2017-11-21 00:37] ugurozturk commented on #9
![stillnotworking](https://user-images.githubusercontent.com/7994408/33048699-51c4179e-ce6d-11e7-8911-855326b6804a.JPG)

[2017-11-21 00:38] ugurozturk commented on #9
[testmercurial.zip](https://github.com/mrcrowl/vscode-hg/files/1489595/testmercurial.zip)

[2017-11-21 00:49] #9 closed

[2017-11-21 08:39] mg-development commented on #33
Confirmed on VSC 1.18.1, 1.19.0 (both on windows and linux).
Waiting impatiently for solution.

[2017-11-23 00:04] eigenbom opened #35 "Unable to diff files in latest VS Code."
Command palette

Get the error: "Unable to open '<file>.cpp (#7141 vs. local)': Unexpected token f in JSON at position 2."

After some digging I found the string "97f25e8aa98c669e6f26ea2efa090e55da3583a0" is being passed to JSON.parse() in fromHgUri().

Visual Code: 1.18.1
Hg Extension: 1.2.3
Hg:  3.7.3

[2017-11-27 16:42] BlackZork commented on #35
Confirmed on current ArchLinux:
Visual Code: 1.18.1
Hg Extension: 1.2.3
Hg: 4.2.2

[2017-12-06 21:29] Goodwine commented on #35
I wonder if this causes gutters not to show given [this](https://github.com/mrcrowl/vscode-hg/commit/f018b7fcb8e5b906d54042f35a55706345b17e4d) commit that fixes #31

[2017-12-06 21:58] tlourey commented on #23
Turns out this has either been fixed or was more my usage than an actual bug. Plus I didn't put in any supporting evidence. Closing

[2017-12-06 21:58] #23 closed

[2017-12-10 01:12] opus-2 commented on #18
As another example, TortoiseHg does a great job with shelves, a little more flexible than what @gep13 described (you can select which uncommited files will be shelved, not just "all").

[2017-12-10 01:14] opus-2 opened #36 "Support subrepositories"
Are there any plans for this?

[2017-12-10 11:09] gep13 commented on #18
@opus-2 sounds good to me 👍

[2017-12-18 12:36] schlamar opened #37 "Phases are ignored on push"
Consider a history like this

    * [draft]  commit-to-be-pushed
    |
    x [public] ...
    |
    |  * [secret] commit not to be pushed
     /
    |
    x [public]

With standard hg, you can push this without any issue. However, vscode-hg is ignoring the secret phase and gives me a warning about multiple heads and that I should merge before pushing.

[2018-01-03 00:56] armbp1972 opened #38 "exclude pieces of code from commit"
Is there any way of do that as in "unified diff output" of TortoiseHg? I've been looking around the options but can't find it.

I use it a lot.

Thanks.

[2018-01-12 09:07] adab4d opened #39 "Add color argument when invoking hg [Was: Mercurial update breaks the plugin]"
On an Ubuntu 16.04 using Visual Studio Code 1.19.2 and Hg extension v1.2.2-3, updating the system's mercurial from 3.7.3 to 4.4.1 using [official PPA](https://launchpad.net/~mercurial-ppa/+archive/ubuntu/releases) results in an empty Source Control area in side bar.

There are no modified or untracked files, the source control is recognized as "HG".

Using mercurial in command line works without f

[2018-01-16 18:16] nbastin opened #40 "Temporary / SCM files are passed to the linter"
For some reason files that don't exist are being passed to the linter, which causes a mess of spurious errors to show up in the problems tab.

For example if I have a file `/repos/inv-serve/bin/invsrv`, I will then get a linter file called 'invsrv.hg' that is located at `hg-original:/repos/inv-serve/bin/invsrv.hg?%7B%22path%22%3A%22%2Frepos%2Finv-serve%2Fbin%2Finvsrv%22%3A%22%22%7D`, and of course

[2018-01-17 10:19] adab4d commented on #39
This is not sistematic, sometimes I get a working vscode Source Control side bar with 4.4.

I'm not sure where I can gather relevant info from the plugin, any hint about that appreciated.

[2018-01-19 09:57] DenisM67 opened #41 "Bad diff result on a file encoded with win1252 charset"
Hello,
The diff detects falses differences when the file is win1252 encoded.
The left side is open with UTF8 mode, the right side is open with win1252 mode.
My file is correctly encoded in win1252 and vscode is correctly configured to open files in win1252 mode.

That Is a show stopper.

Thanks,
Denis.

[2018-01-19 11:01] adab4d commented on #39
I stand corrected, it turned out I had already updated my global hgrc to use builtin color extension rather and the `color = always` is what actually messes up vscode-hg.

Turns out when reverting to 3.7.3 the ui.color setting was not effective and therefore the vscode-hg worked just fine.

The issue is then actually a feature request, please either force `--color=never` when calling mercurial or

[2018-01-25 13:11] vincg commented on #35
bump - same issue here with Linux Mint. Is this being worked on?
VS Code: 1.19.2
HG Extension: 1.2.2-3
HG: 3.7.3

[2018-01-26 09:24] apieceofbart opened #42 "Discard changes for one file discards all of the changes in mercurial"
- VSCode Version:  1.19.2
- OS Version: Ubuntu 16.04 LTS

Steps to Reproduce:

1. Have a repo setup using mercurial
2. Add mercurial (Hg) SCM Provider from the Source Control menu
3. Make a change to two files
4. In the Source Control menu click discard icon next to one of the files
5. In the prompt window asking if you want to confirm discarding changes for this file click "Discard Changes"

Once

[2018-01-26 16:01] ghusse commented on #32
Same thing with mercurial 4.3.1, VSCode 1.19.2 on Linux

[2018-02-01 08:35] tlourey commented on #35
same here. seen it for a while actually in a few VS code versions. Currently:

VS Code: 1.19.3
HG Extension: v1.2.2-3
HG: 4.3.1

[2018-02-01 15:57] PerfectionCSGO opened #43 "How to implement precommit hook?"
I'm trying to figure how to implement a precommit hook for vscode but I've found it quite difficult to grasp.  There seem to be simple to use libraries for .git based projects but for .hg it's kind of a mess or always abandoned/out of date.

[2018-02-07 16:32] adab4d commented on #39
In case someone else hits the same issue, just create an `hg-no-color` wrapper containing:

    #!/bin/sh

    /usr/bin/hg --config ui.color=never "$@"

[2018-02-13 15:17] jpmyob opened #44 "how do I create a new branch"
I see where to push to an existing branch/bookmark, how do I create a new branch ??

[2018-02-21 21:44] peacetara commented on #35
I may have this fixed for Python files, in my repo: https://github.com/peacetara/vscode-hg
At least it seems to work for me now.
It also fixes a problem I was having with pylint not working right.

I don't seem to have eslint laying about, which seems to be the original reason for toHgUri() existing in the first place.  If someone wanted to turn replaceFileExtension false and try, it may not be ne

[2018-04-04 10:59] KristjanTammekivi opened #45 "Feature request: annotate lines in a file"
Would be really handy to see who changed a line and when / what revision. Could be done similarly to GitLens, where the blame is shown in a faded out color at the end of the current line (https://github.com/eamodio/vscode-gitlens)

[2018-04-05 12:26] KristjanTammekivi commented on #44
Hg: Create branch... in the command palette

[2018-04-25 07:51] P9GIT commented on #32
I have exactly the same problem on Linux Mint 17.2.

HG: 4.4.1
VSC: 1.22.2
HG extension mcrowl: 1.2.3

This makes it impossible for me to use VSC :(

[2018-04-25 08:26] ghusse commented on #32
@P9GIT  As a workaround, you can right-click on the file and select "open files".

Could it be possible to make it the default behavior?

[2018-04-25 08:38] P9GIT commented on #32
Hi @ghusse

Thanks for your suggestion.
Unfortunately this does not help me resolve the merge conflict for the file as I still can't open the changes view without getting an exception.

[2018-05-15 08:39] matteshe opened #47 "How to install for Visual Studio Community 2017"
Hi,

if I try to install the addin it show following error message from install process:

15.05.2018 10:35:40 - Installiertes Produkt gefunden - Visual Studio Community 2017
15.05.2018 10:35:40 - VSIXInstaller.NoApplicableSKUsException: Diese Erweiterung kann auf den derzeit installierten Produkten nicht installiert werden.
   bei VSIXInstaller.App.GetInstallableData(String vsixPath, Boolean isRep

[2018-05-18 10:55] mrcrowl commented on #47
Sorry, this is an extension for Visual Studio Code only.  It is not supported by Visual Studio Community.

[2018-05-24 09:43] nsgundy commented on #35
Having the same issue.

VS Code 1.23.1
HG Extension: 1.2.3
HG: 4.4.2

[2018-06-11 13:23] kobi2187 opened #48 "please allow to pass parameters to hg (to modify how it shows files)"
I would like to pass a command such as this to hg:
`hg status 'set:unknown() and not binary()'`
I can do this in the terminal, but wonder if I can pass parameters to the built in version control gui.
Can you please add a configuration option so I can append extra parameters to the invoked command?
Thanks!

[2018-06-13 09:24] Aliaksei-Martinkevich opened #49 "Problem with pretxncommit hook"
I'm using pretxncommit hook in my project, and it's execution might take a while (typical commit takes ~30 seconds for me). So when I commit with this extension, it start processing with animation, but it never stops. If I manually press the refresh button, it remove commited files from changes, but animation is still in progress and commit message stays on.

[2018-07-02 09:48] kokostek opened #50 "Unable to show file history"
1. Command palette
2. Hg: Show file history
3. Select revision
4. Get the error: Unable to open 'file.name (#574 vs. local)': Unexpected token e in JSON at position 0.

VS Code: 1.24.1
HG extension: 1.2.3
Mercurial: 4.4.2

[2018-07-07 07:47] yasindedo1 opened #51 "Abort: Authorization Failed [Code: 255]"
I am using absolutely true credientials but mercurial tortoise or cmd cannot authorize me somehow. I am using the same credientials on netbeans and it works just as it needs to.

Any idea ?

[2018-07-09 06:53] MattiaVicari opened #52 "Multiline message commit"
Hi all,
I think it is a good thing make the possible to write a multiline message for commit.
I see that the message is in one line (the ENTER command is used for confirm the commit).
However, a workaround is also welcome!

Thank you

![image](https://user-images.githubusercontent.com/29706978/42434990-764ea10e-8355-11e8-8112-9677dd3a8676.png)

[2018-07-11 11:12] DmitrySokolov opened #53 "Support VCS operations using drag-n-drop."
For instance, when I move a file in VS Code's Explorer sidebar (using mouse) this file is not processed as `hg rename ...`.

[2018-07-15 19:41] sirgru opened #54 "Gutter indicators not changing on commit"
Gutter indicators not changing on commit. If I close and open a file the gutter indicators behave properly.

VS Code 1.25.1
Windows 8.1

[2018-08-05 20:05] jwendel opened #55 ""discard" fails with an error when "log" has an alias set"
I have a change that shows up in the Source Control view.  When I click "Discard changes", I get an error of:
    Cannot read property 'split' of undefined
The last line that shows up in the HG output log is:
    hg log -T {rev}:{node}:{date|hgdate}:{author|person}:{branch}:{join(bookmarks,'\t')}:{sub('[\n\r]+',' ',desc)}\n -r parents()

VSCode: 1.25.1
HG plugin: 1.2.3
Windows 10 pro
Mercurial Dis

[2018-08-07 13:31] KristjanTammekivi commented on #45
I implemented it but as MrCrowl is inactive right now I temporarily published it under [KristjanTammekivi.hg](https://marketplace.visualstudio.com/items?itemName=KristjanTammekivi.hg) in case anyone is interested in this feature.

[2018-09-12 16:57] fl-eric opened #57 "Extension not working"
**TL;DR**
The plugin is generally broken. The only things working are: (1) asking for password, (2) the gutter indicator, and (3) the inline diff display.

**Installaion**
Visual Studio Code v. 1.2.7
Ubuntu 18.04.1 LTS
VSCode-HG v. 1.2.3
Mercurial 4.5.3
(no other extensions installed)

**Problem description**

![screenshot from 2018-09-12 13-53-03](https://user-images.githubusercontent.com/3920181

[2018-09-12 17:52] fl-eric commented on #57
I just found the solution with my pal.

I have the following user settings file:
[code]

I commented the color option in `~/.hgrc` and the **vscode-hg** extension started working:
[code]

The color extension was absorbed to the Mercurial UI, and there were some related changes. The `always` option is does not exist anymore. More details [here](https://www.mercurial-scm.org/wiki/ColorExtension).

[2018-09-12 17:52] #57 closed

[2018-09-21 18:27] oursoc opened #58 "Plugin not recognizing repros on Ubuntu (works on OSX)"
I have copies of the same repo on Ubuntu and OSX. I use VSCode on both. The Hg plug-in recognizes my repros on OSX, but not on Ubuntu.

I have no idea how to start debugging this. Any pointers would be helpful.

[2018-09-29 10:44] JaderCM opened #59 "Password not asked when push"
When click to push the changes, no password is prompted. So, the process to push the changes is in infinite loop.
![hg-vsc](https://user-images.githubusercontent.com/33452163/46244839-faa2e100-c3dc-11e8-8734-3f0e61ee41ab.gif)

[2018-10-03 16:36] andrenasturas opened #60 "Accentuation in project path is not supported (Windows)"
The plug-in is unable to work correctly if the current folder opened in vscode is located in a folder containing accentuation.

I work on a computer where usernames are the exact real names of users. Mine have an French accent the issue appears for any repo cloned inside my Windows home directory. It works well in other accentuation-free places.

When I hit the Refresh button, I get this message :

[2018-10-10 11:46] mrcrowl commented on #52
Sorry @MattiaVicari ... I believe this limitation comes from vscode itself.

[2018-10-10 11:46] #52 closed

[2018-10-10 11:47] #47 closed

[2018-10-10 11:52] mrcrowl commented on #45
Hey @KristjanTammekivi ... thanks for taking on the annotate development for vscode-hg.  As you've rightly detected, I'm a bit out of action at the moment for this project.

My workplace is switching to git, so there is less of an incentive for me to continue maintaining the hg extension.

If you would like to take over its development, I would be happy to hand over access to the repo + extension

[2018-10-10 11:54] #44 closed

[2018-10-10 18:58] mateatslc commented on #42
Same here. Lost work in progress stuff several times because of this. Super annoying :/

[2018-10-14 19:19] twk-b opened #61 "support for MQ"
Issue Type: <b>Feature Request</b>

Just basic functionality to allow QREFESH, QPOP, QPUSH, QFINISH and showing the list of patches

list of MQ patches above the current Changes on the SCM sidebar

Double click to apply to that point in the queue.

Addition button beside checkmark to refresh the patch.

Extension version: 1.2.3
VS Code version: Code 1.28.1 (3368db6750222d319c851f6d90eb619d886e08f5

[2018-10-24 14:59] taivasverkko commented on #59
Same here. I managed to come up with a workaround by adding following section to hgrc file inside .hg directory :
[code]

https://stackoverflow.com/questions/2297942/hg-push-with-credentials-for-http-server

[2018-10-24 15:11] eazrael commented on #59
Workaround for what? saving your password in plaintext to disk? Setting
[code]
works, too.

My workaround:

1. Open integrated terminal
2. type hg push, press enter
3. Enter password

[2018-10-24 15:17] JaderCM commented on #59
@eazrael this workaround means: "I'm not using the plugin." :smiley:

[2018-10-25 20:49] sergethompson commented on #42
- VS Code Version 1.28.2

- OS Version: OSX 10.14
This looks to be an issue that relates to .hgrc [alias] section where the log option interferes.
By commenting out the below log section. I was able to stop the discard all problem from happening.
[alias]
# log -f
also #55 mentions an error having to do with a similar log conflict

[2018-10-30 09:37] kobi2187 commented on #48
Today I finally realized I can actually do this in hgignore:
^[^.]+$
this regex finds files without extension, which is how binaries look like in linux.
so, problem solved.

[2018-10-30 09:37] #48 closed

[2018-10-31 12:44] VictorGob opened #62 "New files do not appear as "untracked""
New files added to the project do not appear in "Source control" as untracked. I have to add them by command line (`hg add ...`). Pressing "Refresh" does not solve it either.

SO: Ubuntu 18.04.1
VSC: 1.28.2 (but I think it has never worked)

Thanks in advance.

[2018-10-31 13:48] #62 closed

[2018-11-06 12:18] KristjanTammekivi commented on #45
Hi, I'm expecting a similar development at my work so I don't have motivation to maintain it either. I might take a look at a couple of bugs while we haven't migrated yet though

[2018-11-15 16:57] veswill3 commented on #55
I have this issue as well, and thanks @jwendel for helping me figure out how to fix it

[2018-11-19 14:56] cbsom commented on #35
Same issue on both WinX and OSX.
This issue has been around a while.
VS Code: 1.29.1
HG Extension: 1.2.3

[2019-01-09 16:27] pasqui23 opened #63 "Version control tab doesn't show any file"
The output of `hg status` in the terminal shows that I have lots of file ready to commit,but the version control tab shows no files at all

![screenshot_20190108_131437](https://user-images.githubusercontent.com/6931743/50912199-7aebd000-1429-11e9-9df1-9e447ebf5ab5.png)
Neither filtering by `hg` nor by `mercurial` gives me any results in the developers tools

[2019-01-24 22:09] ChrisShawK2 opened #64 "VS 2019 Preview"
Will you support the VS 2019 Preview edition?  If so, when?  If not, will you support the RTM version when it's available?

Thanks,
--Chris

[2019-01-30 08:22] mrcrowl commented on #64
This is for VS Code only.  Does not support VS proper.

[2019-01-30 08:22] #64 closed

[2019-02-01 10:36] onemen opened #65 "Error Hg: Callback must be a function on vscode insiders"
The extension doesn't show any changes on files and any file in the source control side-bar.
Clicking on Refresh generate error notification:

**Installation**
VS code Version: 1.31.0-insider (user setup)
Commit: 371c853fa9c6def40b6fa51071d0ba03c9f62ebb
Date: 2019-02-01T06:21:41.669Z
Electron: 3.1.2
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17134

[2019-02-06 19:28] Amorano commented on #65
Just got this on the new update of VSCode

Version: 1.31.0 (user setup)
Commit: 7c66f58312b48ed8ca4e387ebd9ffe9605332caa
Date: 2019-02-05T22:35:56.624Z
Electron: 3.1.2
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 6.1.7601

[2019-02-06 20:45] onemen commented on #65
See this PR https://github.com/KristjanTammekivi/vscode-hg/pull/1

vscode-hg is a fork of this extension

[2019-02-06 20:55] Amorano commented on #65
that is fine, but i dont use that extension, regardless of it being a fork.

This should be fixed in this source base, if that requires pulling the PR from there to make it work here, someone should do that.

Meantime I simply rolled back to 1.30.2 because we have to work, not fight the tools.

[2019-02-07 07:45] Aleksei-Badyaev commented on #65
I confirm this issue after update VS Code today.

[2019-02-07 12:01] SVasilev commented on #65
I also confirm the issue after update VS Code today.

[2019-02-07 12:43] gufoscuro commented on #65
same here, have the same issue after VS Code update

[2019-02-07 12:49] kafumanto commented on #65
As the repo seems freezed since November 2017 (not a bat thing BTW as it was working :) ), @mrcrowl can we expect a fix for this issue?

[2019-02-07 18:06] n0nag0n commented on #65
Same issue with me :(

[2019-02-07 23:44] pitaj commented on #65
Building on what @n0nag0n said, here's how to fix the plugin with just a simple text edit:

1. Edit the file `~/.vscode/extensions/mrcrowl.hg-1.2.3/out/src/repository.js` or `C:\Users\[you]\.vscode\extensions\mrcrowl.hg-1.2.3\out\src\repository.js` on Windows
2. Find the definition of the method `unlocked()` (search for string `unlocked() {`)
3. Replace the whole method (for me it was line 835 - 8

[2019-02-09 17:47] volodyabilyk opened #66 "Doesn't work after update to VS v.1.31"
It cans recognize repository. But you can't do nothing with that. After downgrading to last 1.30.2 everything work fine.
![image](https://user-images.githubusercontent.com/44863652/52524226-68bcb600-2ca3-11e9-90b3-0df92b140422.png)

[2019-02-10 14:33] alxpub commented on #66
![2019-02-10](https://user-images.githubusercontent.com/88756/52535010-9102ee00-2d51-11e9-9db2-88706fdbc24e.png)

[2019-02-10 20:51] zerkms commented on #66
I believe it's a dup of https://github.com/mrcrowl/vscode-hg/issues/65

[2019-02-10 20:53] zerkms commented on #65
Ohhhhh, I just realised the latest commit to the repository was in November 2017

[2019-02-10 21:51] pitaj commented on #63
In case anyone arrives here first, I made some instructions on how to implement a fix for this issue:

https://github.com/mrcrowl/vscode-hg/issues/65#issuecomment-461638183

[2019-02-11 08:26] KristjanTammekivi commented on #65
I published new version of my fork to the marketplace with the fix for this. At work we're moving away from HG though (and same is true for mrcrowl) so I recommend someone take over the development. I don't plan on doing any development on this anymore.

[2019-02-11 18:24] mrcrowl commented on #65
Apologies for the lack of updates here.  As mentioned above, we're moving away from mercurial at work.  I'm looking for someone interested in taking over this project.  For now v1.3.0 should address this issue.  Thanks to @KristjanTammekivi for the fix.

[2019-02-11 18:25] #65 closed

[2019-02-11 18:26] mrcrowl commented on #63
Duplicate of #65, which is now fixed.  Again, sorry for the delay in addressing this critical bug.

[2019-02-11 18:26] #63 closed

[2019-02-11 18:27] mrcrowl commented on #66
Duplicate of #65, which is now fixed. Again, sorry for the delay in addressing this critical bug.

[2019-02-11 18:27] #66 closed

[2019-02-11 18:27] mrcrowl commented on #66
You can update to v1.3.0 in vscode for the fix.

[2019-02-20 16:35] mateatslc commented on #42
Indeed! I had the following in my `~/.hgrc`
[code]
Removing that cures the extension, too bad it hurts HG logs elsewhere.
Thanks for the tip @sergethompson!

[2019-02-28 11:46] feakuru opened #67 "When multiple repos are open, commit asks me to choose which repo to commit to"
So I have multiple mercurial repos in my working environment, and at any moment, a repo is chosen as the current one in the SOURCE CONTROL tab. So I am able to see staged, unstaged and untracked changes for that repo and commit to it.
But when I commit, I am asked to chose which repo to commit to. If I choose a wrong one, nothing happens (I suppose commit fails silently). This choice is unnecessar

[2019-03-11 10:11] feakuru commented on #32
any progress on this? how can I help? maybe provide some logs?

[2019-04-06 17:18] Eduard-gan opened #68 "Add ability to revert a single change block."
Hi!
Currently with Git it is possible to revert a single change, but with mercurial it isn't.

I found this feature to be so crucial to me that i lost my ability to use entire IDE for mercurial-based projects. That would be really nice if this would be implemented in future releases. Thanks!

[2019-04-07 00:32] EvilKot opened #69 "Add ability to specify hg installation directory"
In my case hg was installed via brew and located in /usr/local/bin, so extension throws the following error on startup:
[code]
After patching path in hg.js file (findHgDarwin() function) i got it to work.
I'd like to be able to provide an installation directory manually.

[2019-04-14 00:47] kazssym opened #70 "Multiple bookmarked heads"
I use both bookmarked and unbookmarked branches. The extension denies pushing a branch with multiple *bookmarked* heads, unlike the `hg` command.

I wish it would allow multiple heads if they all have bookmarks.

[2019-04-26 14:42] #28 closed

[2019-04-26 14:51] mrcrowl commented on #38
Sorry, there is no current intention to support committing of chunks.

[2019-04-26 14:51] #38 closed

[2019-04-26 14:52] mrcrowl commented on #68
Duplicate of #38

[2019-04-26 14:53] mrcrowl commented on #70
Sorry not planning to support this.

[2019-04-26 14:53] #70 closed

[2019-04-26 14:56] mrcrowl commented on #61
Sorry MQ support is not on the dev radar. Feel free to submit a PR, or fork and adapt to your needs.

[2019-04-26 14:56] #61 closed

[2019-04-26 14:58] mrcrowl commented on #69
Interesting. Can you please submit a pull request or send me your edits to apply?

[2019-04-26 15:04] mrcrowl commented on #55
Interesting problem. Are you satisfied with your workaround?

Log unfortunately could be aliased to anything, so not sure how to avoid unpredictable output.

As far as I'm aware hg doesn't have low-level "porcelain" commands like git, and I don't think it's reasonable to mess with a user's hgrc/.ini files.

Suggestions?

[2019-04-26 15:08] mrcrowl commented on #53
Won't be supporting this sorry, which sucks, because hg is pedantic about renames. I'm limited by what's available in vscode extension api, and I don't intend to monitor the disk for renames. The other alternative of introducing hg specific renames / moves feels gross too.

[2019-04-26 15:08] #53 closed

[2019-04-26 15:10] #45 closed

[2019-04-26 15:11] mrcrowl opened #71 "SEEKING A NEW MAINTAINER / OWNER FOR HG EXTENSION"
Hi users,

Sorry I haven't been very active in supporting hg in the past while.

This extension was created when my team and I were using hg heavily for work. We are in the process of moving entirely to git.

If there is anyone with typescript / javascript experience that would like to continue with maintenance and development of the extension (or fork it and start a new extension) I will provide

[2019-04-26 15:19] #51 closed

[2019-04-26 15:23] mrcrowl commented on #43
Your issue sounds like it is with hg itself, not this extension. I have used hooks with hg + this extension before. It requires python from memory (because hg itself is python-based).

See https://www.mercurial-scm.org/wiki/HookExamples

[2019-04-26 15:23] #43 closed

[2019-04-26 15:26] mrcrowl commented on #42
Glad you guys found a workaround. Closing as duplicate of #55 for now.

[2019-04-26 15:26] #42 closed

[2019-04-26 15:26] #41 closed

[2019-04-26 15:30] mrcrowl commented on #34
Duplicate of #39. Thanks for reporting.

[2019-04-26 15:30] #34 closed

[2019-04-26 15:31] #33 closed

[2019-04-26 15:32] #27 closed

[2019-04-26 15:33] mrcrowl commented on #25
Seems related to #49. Never ending spinner problems.

[2019-04-26 15:33] #22 closed

[2019-04-26 15:33] #11 closed

[2019-04-26 15:36] mrcrowl commented on #58
Sorry, I realise this is a really old issue now.

Do you know whereabouts is hg installed for Ubuntu?

Does the hg log windrow report anything? (Under output panel)

[2019-04-26 16:07] veswill3 commented on #55
Meh. hg defaults have been deprecated for reasons similar to this.
We should probably just setup an alias to do what we need and leave `log` along. something like this.

[code]

[2019-04-26 16:10] #55 closed

[2019-04-26 16:43] grinapo commented on #71
This one showed up in the etension browser:
https://github.com/KristjanTammekivi/vscode-hg

[2019-04-26 23:04] mrcrowl commented on #71
Yeah, I’ve been in contact. But I think he’s in the same situation —>
moving to Git :/

[2019-04-27 00:12] kazssym commented on #70
I'm sorry to hear that.

[2019-05-30 23:16] EvilKot commented on #69
Yep, i've noticed the findHgDarwinUsingWhich method which is being called after tortoise installation lookup.
My apologies for this messy issue and lack of investigation: while my which hg output is correct `/usr/local/bin/hg`, issue source appeared in my very specific .bash_profile config, where terminal is being cleared after every command and only last input being is shown. So screen clearing a

[2019-05-31 05:03] #69 closed

[2019-06-11 11:05] nsgundy commented on #71
Hmm, interested in keeping this extension alive. Just not sure if reality lets me spend enough time on it to put a dent into the current backlog. Might have to give it a try for some time to see if its realistic?

[2019-06-11 12:26] MikeRatcliffe opened #72 "Grinds to a halt on large repos in insiders edition in v1.36"
Version 1.3.1 makes VSCode Insiders Edition unusable on large repos e.g. `https://hg.mozilla.org/mozilla-central/`.

VSCode starts normally and there are no errors but the source control tab is never fully refreshed and after a few minutes everything grinds to a very slow stop. I think it is somehow filling the computer's 16 Gig of memory.

Here is the log from a working version (v1.35.0):

[code]

[2019-06-11 20:54] mrcrowl commented on #71
Hey @nsgundy, thanks for the interest!  Is there something that you'd like to see done from the backlog?  I don't think there's an expectation that you have to do _everything_ on the issues list, although bugs are probably a good place to start.

Did you want to pick something and start with a PR?

[2019-06-12 15:06] nsgundy commented on #71
@mrcrowl Well, yes, bugs mainly.

Starting with a PR is probably a good idea.

[2019-07-15 16:11] StructByLightning commented on #50
It appears that the JSON string that's being parsed should be something like {path:"somepath",query:"somequery"}. Instead, it's actually 40 alphanumerics, which I think are related to the version you selected to show. The bad JSON string comes from `provideTextDocumentContent` in `contentProvider.js`, but it appears that `provideTextDocumentContent` is getting the data from somewhere else. I wasn'

[2019-07-25 08:45] nsgundy commented on #71
Um, well, as you can see, I haven't even started on anything yet.

[2019-08-06 10:39] mklemarczyk commented on #71
Hello there,

If you really need help. I'm able to continue work on the extension starting September 1st, 2019.

Best regards

[2019-08-31 19:02] architchandra opened #73 "Realoading VSCode required for the plugin to detect Hg and changes in working directory"
The extension does not detect changes when the project is first opened in VS Code. Always have to reload VS Code for the extension to work.

Extension version: 1.3.0
VS Code version: 1.37.1
Mac OS version: 10.14.6 (18G87)
Hg version: 5.0.1

[2019-10-06 05:36] architchandra commented on #73
This is not a problem anymore. Thanks!

[2019-10-06 05:36] #73 closed

[2019-11-19 10:14] LeonAlvarez commented on #50
Any info on that?

[2020-03-04 23:08] Yoric opened #75 "Can I exclude **/.hg/store/** from the filewatcher without breaking this add-on?"
Hi, I have [a PR](https://github.com/microsoft/vscode/pull/91941) to VSCode that adds `**./hg/store/**` to the filewatcher exclusion list, for performance reasons.

Will this break your add-on? If so, how can we work around that?

[2020-03-31 06:39] angryDuck2 opened #76 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `hg`
- Extension Version: `1.3.0`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.44.0-insider`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2020-03-31 06:40] angryDuck2 commented on #76
Hello I encountered this error while performing an extension restart

[2020-03-31 14:21] dnistreanu commented on #32
I can confirm this issue is still reproducible:
HG - v1.3.0
VsCode - 1.43.2
OS - Windows x10 Pro

[2020-04-17 14:57] LeDemz opened #77 "Support for Timeline view for Mercurial"
With the new version of vscode, there is now the possibility of adding timeline view to view easily files from previous commits. Would it be possible to implement also with Mercurial ?

[2020-04-20 12:55] KristjanTammekivi commented on #77
I wouldn't really expect any new feature developments until this repository has found a new maintainer (see https://github.com/mrcrowl/vscode-hg/issues/71). But if you want to send a PR with this, please do

[2020-04-22 07:27] tiktuk opened #78 "No "Revert Change" button in inline changes window"
The `Revert Change` button is missing from the inline changes window. Is that a bug or to be expected? (I'm new to VS Code.)

![Screenshot 2020-04-22 at 09 24 33](https://user-images.githubusercontent.com/153722/79952719-2122e400-847b-11ea-92fb-1fb109b098d3.png)

Here is how it looks in a git repo:

![Screenshot 2020-04-22 at 09 24 09](https://user-images.githubusercontent.com/153722/79952736-2849

[2020-04-29 00:33] jtagcat opened #79 "Instead of a bit confusing error when hg is not installed, offer to install hg."
When hg is not installed, you get `Command 'Hg: Clone' resulted in an error (command 'hg.clone' not found)`.

Instead, say that hg is not installed and offer to install it with a button.

[2020-05-11 19:35] yadayadaydadaa opened #80 "Locale errors—in 2020!"
After upgrading to Mercurial 5.4 and Python 3, I get the following on macOS:

[code]

I have `LANG=en_GB.UTF-8` in my `~/.profile` and Python 3/Mercurial work from the command line, but not from VSCode.

[2020-05-11 20:52] yadayadaydadaa commented on #80
I think this has something to do with the `LC_CTYPE` setting. On the command line `LC_CTYPE=en_GB.UTF-8`  and `LC_CTYPE=UTF-8` work, but `LC_CTYPE=en_GB` causes the the error. In the terminal, by default, without anything having been touched, the middle one holds. So it seems either the extension is touching `LC_CTYPE`, or something in in the way VSCode is loading the environment (doesn't matter w

[2020-05-11 20:57] yadayadaydadaa commented on #80
I tried to create a wrapper script, to check the environment, but `hg.path` does not seem to be respected.

[2020-05-21 17:37] incidentist commented on #71
I've got time and could take this over. Just submitted a (simple) PR for a bad bug, which got me familiar with the code. Seems like I could start with the existing PRs and see if others have done anything on forks that could be pulled in.

[2020-05-23 21:53] incidentist commented on #71
Hmm. I submitted another PR for a small bug but realized my first PR was on the master branch of my fork. I can redo them but if I could take over the extension, I'd probably just merge them as-is. I am also working on #30 .

[2020-05-24 00:06] mrcrowl commented on #71
Thanks @incidentist, this would be amazing. Let's work together on getting your PRs merged and then we can sort out access to the repro and publishing rights for vscode marketplace. I hope to look at these PRs later today.

[2020-05-24 06:04] incidentist commented on #71
@mrcrowl Great! Just pushed an implementation of #30 . Let me know what you want to do about repo access. I'm fine working on this one for now until/if the VSCode admins can switch over to mine.

[2020-05-30 09:24] #30 closed

[2020-05-30 09:27] mrcrowl commented on #30
Included in [v1.5.0](https://github.com/mrcrowl/vscode-hg/releases/tag/v1.5.0).

[2020-06-01 21:05] incidentist commented on #71
@mrcrowl I created a couple more small PRs for bugs. Let me know if/when you want to move forward with changing ownership or co-ownership or whatever. 🚀

[2020-06-03 11:13] mrcrowl commented on #32
Released in [v1.5.1](https://github.com/mrcrowl/vscode-hg/releases/tag/v1.5.1). Thanks @incidentist!

[2020-06-03 11:13] #32 closed

[2020-06-03 11:13] mrcrowl commented on #50
Released in [v1.5.1](https://github.com/mrcrowl/vscode-hg/releases/tag/v1.5.1). Thanks @incidentist!

[2020-06-03 11:13] #50 closed

[2020-06-03 11:13] mrcrowl commented on #54
Released in [v1.5.1](https://github.com/mrcrowl/vscode-hg/releases/tag/v1.5.1). Thanks @incidentist!

[2020-06-03 11:13] #54 closed

[2020-06-14 17:22] hdpoliveira commented on #71
Hi! I'm interested in this!
However I don't know anything abou Typescript or VSCode extensions, but I'm eager to learn :smiley:

@mrcrowl @incidentist  do you recommend a first issue? Or some documentation?

[2020-06-14 18:12] incidentist commented on #71
@hdpoliveira Great! I've only recently started working on this, and I think I took most of the easy bugs, but let's see...
#37 might be a simple fix.
#60 would be a good one if you're on Windows.

I found TypeScript very easy to pick up. The VSCode API is harder because there's a lot of it. If you want to try any of those bugs, we could hop on a video call sometime and poke at it together.

[2020-06-14 18:19] incidentist commented on #80
Fixed in 1.4.0.

[2020-06-14 18:19] #80 closed

[2020-06-14 18:22] incidentist commented on #78
This isn't a bug, it just hasn't been implemented yet.

[2020-06-14 18:25] incidentist commented on #77
The Timeline API is still in beta for third-party extensions, so I don't think it's possible to ship Timeline support yet. Once it's finalized, this should be straightforward to implement.

[2020-06-14 18:32] incidentist commented on #35
Fixed in 1.5.1.

[2020-06-14 18:32] #35 closed

[2020-06-14 18:35] incidentist commented on #39
Fixed in 1.4.0. The extension now ensures color output is disabled when running its commands.

[2020-06-14 18:35] #39 closed

[2020-06-17 02:48] hdpoliveira commented on #75
Since the PR was closed and released already, should we close this?

[2020-06-17 07:20] Yoric commented on #75
WFM

[2020-06-18 23:07] #75 closed

[2020-06-20 18:42] hdpoliveira commented on #79
@incidentist @mrcrowl  can I take this one?

[2020-06-21 14:31] hdpoliveira opened #89 "Allow user to specify username instead of error "Hg: no username supplied""
When doing the first commit, if the username is not specified, we issue an error:

![image](https://user-images.githubusercontent.com/35645457/85227233-8c712f80-b3b2-11ea-8101-ae9ada3bc8b9.png)

We could prompt the user to enter a username instead.

[2020-06-21 14:43] hdpoliveira commented on #60
Hi @andrenasturas ,

This is a limitation on Mercurial itself. From https://www.mercurial-scm.org/wiki/EncodingStrategy:

I just installed Mercurial on my Windows in Portuguese, and it shows:
[code]

You can see there are a bunch of weird characters in the text ☹️

There is probably some place in the extension's code we are trying to do some encoding, and is getting things wrong.

[2020-06-21 14:48] hdpoliveira commented on #89
Mercurial shows this:
[code]

We can at least display a button to `hg config --edit`

[2020-06-21 17:55] hdpoliveira opened #90 "Error in command Hg: Clone: Hg: There are no available repositories"
From a new VS Code window, >Hg: Clone gives the following error:

![image](https://user-images.githubusercontent.com/35645457/85231603-04e5e980-b3cf-11ea-93ff-e7091dde640e.png)

It should be able to run fine even without open repositories

[2020-06-21 18:19] #79 closed

[2020-06-22 04:39] #67 closed

[2020-06-22 05:18] incidentist commented on #89
I dig it. There's a function `errorPromptOpenLog` in interaction.ts that we'll want to use for this. It corresponds to the error-handling section of `createCommand` in the Git extension. I am refactoring it a little for #18, so let me finish that before you start this (assuming you want to take it, of course).

[2020-06-22 09:39] feakuru commented on #67
Much love fir the fix, @incidentist :)

[2020-06-22 12:55] hdpoliveira commented on #89
Ok! :smile:

[2020-06-22 17:28] incidentist commented on #67
All credit goes to @hdpoliveira, who is this repo's 🏆 Bugfixing Champion of the Month 🏆 , a very prestigious award I just came up with. 🙃

[2020-06-22 23:34] hdpoliveira commented on #67
LOL
I'd like to thank all those who supported me in achieving this life-long goal of becoming the Bugfixing Champion of the Month, you are the best! :champagne:

[2020-06-23 02:42] hdpoliveira opened #94 "Create a wiki page on how to contribite"
No need to be fancy, just something like https://github.com/JohnstonCode/svn-scm/wiki/Contributing ?

[2020-06-23 04:59] incidentist opened #95 "Automated Unit/Integration Tests"
Automated testing would speed up feature development and ensure that features/fixes don't cause regressions. Create a basic smoke test suite that we can copy to test features or reproduce bugs.

VSCode has a [solid testing setup for extensions](https://code.visualstudio.com/api/working-with-extensions/testing-extension) that should be easy to use. I haven't gotten it to work yet. The first problem

[2020-06-23 06:05] incidentist commented on #90
Done!

[2020-06-23 06:05] #90 closed

[2020-06-23 13:10] hdpoliveira commented on #90
Alright, thank you!

[2020-06-23 20:51] incidentist commented on #72
@MikeRatcliffe I accidentally triggered this bug on a large repo, but I was working on something else at the time and didn't investigate. An hour later, I tried reproducing it deliberately on the same large repo, and couldn't. I also cloned mozilla-central and could not reproduce it there (though it is slow). If you still use the extension: has this problem gone away? If not, I suspect it might go

[2020-06-23 20:59] incidentist opened #98 "Improve Performance of getSummary()"
In hg.ts, getSummary() is called frequently. It calls `hg summary`, which runs slowly on large repos. On the mozilla-central repo, `hg summary` takes 12s on my machine. `hg parents` seems to give the same information and is instantaneous on the mozilla-central repo.

Determine whether `hg parents` reliably gives us the same information as `hg summary`, and if it does, use it in getSummary(). This

[2020-06-25 03:17] hdpoliveira commented on #98
One thing hg parents does not do and hg summary does is check if there repository is "dirty". This is why hg summary takes so long.

I know hg id does show if the repo is dirty.

Maybe we can reduce the number of times we call hg summary by calling it only when we want to get the full picture of the repo

[2020-06-25 03:29] hdpoliveira commented on #98
One other option is to make command server mode (https://www.mercurial-scm.org/wiki/CommandServer) the default. It seems there is an incomplete implementation in the current code, enabled by setting hg.commandMode=server.
Also there is this npm package which I'm not sure if it is still active: https://www.npmjs.com/package/hg

That is a much larger project though, but I do believe that is the way

[2020-06-25 03:38] hdpoliveira opened #99 "Enhancement: Add "Go to File" button in SCM inline options"
We should implement a Go to File button.
From git extension:
![stage-changes](https://user-images.githubusercontent.com/35645457/85650535-21f31480-b67c-11ea-84a6-7185490e76a0.png)

[2020-06-25 03:40] hdpoliveira opened #100 "Enhancement: Support "Purge" extension"
We should implement a Discard changes button.
From git extension:
![stage-changes](https://user-images.githubusercontent.com/35645457/85650675-67174680-b67c-11ea-8420-03054e067abf.png)

[2020-06-25 04:03] incidentist commented on #98
I always wondered about that. When we call it in getSummary(), though, we don't use any of the dirty repo stuff. Just the parent hashes and whether we're merging. There are probably a bunch of ways to optimize the "get repo status" operation, but this one seems like an easy win.

Totally. That, and using `chg` when possible. Do you know what is incomplete about the current implementation? I haven'

[2020-06-25 06:51] #18 closed

[2020-06-25 07:16] incidentist commented on #71
Questions for the room:
@hdpoliveira Do you want to be a co-maintainer of this project? You seem enthusiastic and very knowledgable about Mercurial, and I'm grateful to have someone to bounce ideas and code off of. 🍻
@mrcrowl How do you feel about making @hdpoliveira a co-maintainer, if he's into it? Also, you're currently the only person who can package and manage releases. Are you okay continuin

[2020-06-25 16:27] hdpoliveira commented on #71
Yes, I'd like that very much!

To me it does. Since #88 does not affect users, it could be left out of the version.

#59 I had trouble reproducing. If you can tell me how to reproduce I can work on it.
#95 is something we definitely need. @mrcrowl I noticed some PowerShell scripts in the tests repository, could you please explain us their purpose/how to use them?
I didn't open an issue for it, but

[2020-06-26 20:01] hdpoliveira commented on #94
@mrcrowl I believe it is only you who can create a wiki page.

[2020-06-26 20:36] mrcrowl commented on #94
@hdpoliveira I’ve now added you as a collaborator. According to [the docs](https://help.github.com/en/github/building-a-strong-community/changing-access-permissions-for-wikis), this should allow you to edit the wiki.

[2020-06-26 20:45] mrcrowl commented on #71
Yup, I’m happy to continue doing releases. I could  carry out some testing for you beforehand. Give me a nudge when it’s ready.

The only two things required to be release-ready are:
- Updating package.json version
- Updating CHANGELOG.mid

I package to a vsix file as well as publishing to marketplace. The vsix gets attached to the release in GitHub. This provides a manual rollback mechanisms for

[2020-06-26 20:47] mrcrowl commented on #71
And just wanted to say a big thanks to both of you. Please to see this project being continued.

[2020-06-26 21:02] mrcrowl commented on #71
The purpose of these was to try and validate that hg responses, which the extension relies on, remain consistent over time. They are largely incomplete though and were only manual “eyeball” tests.

There is potential to automate, with some effort. I would probably do away with the powershell though and just use node.

The concept was to use a second local folder to represent the remote repository.

[2020-06-26 22:18] hdpoliveira commented on #94
Hi @mrcrowl , it does not look to be working:
![image](https://user-images.githubusercontent.com/35645457/85905375-9eebce80-b7e1-11ea-9a51-8aee01670930.png)

According to [this link](https://help.github.com/en/github/building-a-strong-community/adding-or-editing-wiki-pages) there should be an edit button somewhere... ☹️

[2020-06-26 22:28] mrcrowl commented on #94
Looks like your invitation to collaborate is still pending. You might need to check your inbox for a link.

[2020-06-27 17:17] hdpoliveira commented on #94
Thanks @mrcrowl !
I created a Contributing session in the [Home wiki page](https://github.com/mrcrowl/vscode-hg/wiki).

[2020-06-27 17:17] #94 closed

[2020-06-27 17:25] hdpoliveira opened #101 "Use VS Code Icons instead of custom made"
Current implementation is using custom icons:
![image](https://user-images.githubusercontent.com/35645457/85928523-e2971480-b883-11ea-957b-a13df44fd792.png)

We should use the default icons from VS Code:
![image](https://user-images.githubusercontent.com/35645457/85928536-09ede180-b884-11ea-97a7-b711296c1f9c.png)

[2020-06-29 07:08] #60 closed

[2020-07-01 19:48] MikeRatcliffe commented on #72
@incidentist I no longer work on that repo so for now I'll close this bug an log a new one if it occurs again.

[2020-07-01 19:48] #72 closed

[2020-07-03 06:27] #101 closed

[2020-07-03 06:34] incidentist commented on #68
Re-opening this (if re-opening is a thing in GitHub?). This is about reverting chunks, whereas #38 is about committing chunks. Committing chunks would be very difficult, but reverting chunks is possible. The git extension doesn't use git at all to revert chunks, it all happens in code. We can do the same. I'll give it a shot.

[2020-07-03 06:39] incidentist opened #108 "Release 1.6.0"
I made a milestone for 1.6.0 to keep track of what's new for that version. I think it's ready to go. @mrcrowl Can you cut the release?

[2020-07-03 10:15] mrcrowl commented on #108
Writing up the changelog notes now.

Issue #18: the shelve commands only work if you have the extension installed. If it's uninstalled the hg log shows `hg: unknown command 'shelve'`, and the UI silently swallows that error. Not sure this is what we want.

[2020-07-03 10:33] mrcrowl opened #109 "Automatically enable extensions when their commands are run"
Related to Issue #18 and PR #96:

PR #96 introduced the various shelve commands: Shelve/Unshelve/etc. However, these commands require that the hg shelve extension is enabled, i.e.
[code]
... must be present in `.hgrc` or repo's `hgrc` file.

Without this, the commands silently fail. The hg log window shows:
[code]

The UI should detect this error message and provide a link to instructions on how t

[2020-07-03 10:34] mrcrowl commented on #108
I've put a notice about the extension being required in the readme, and raised a new issue for it #109

[2020-07-03 10:34] mrcrowl commented on #108
v1.6.0 release! 🎉   .... thanks gents.

[2020-07-03 10:34] #108 closed

[2020-07-03 16:18] incidentist commented on #109
Ah, good catch. There's actually a way to enable extensions via command line at runtime. If that works we wouldn't need a message.

[2020-07-03 16:47] hdpoliveira commented on #109
With https://github.com/mrcrowl/vscode-hg/pull/104 I introduce some error handling for missing extensions.
Not perfect, but at least it doesn't fail silently

[2020-07-03 16:49] #99 closed

[2020-07-03 18:31] hdpoliveira opened #111 "Use git actions for automated linting"

[2020-07-03 18:32] hdpoliveira opened #112 "Add code formatter and format all files"
Looks like prettier is the main choice for typescript formatter

[2020-07-03 18:42] hdpoliveira opened #113 "Support Rebase"
https://www.mercurial-scm.org/wiki/RebaseExtension

Proposal: three commands in the palette:
- [ ] Rebase current branch
- [ ] Rebase: Abort
- [ ] Rebase: Continue

'Rebase current branch' will display a QuickPick for the destination (-d option), the same as the one used for 'Update to...'. Under the hood, we'll run 'hg rebase -b . -d ${destinationPicked}'
If a conflict happens, we will open the S

[2020-07-03 18:43] hdpoliveira opened #114 "Support Evolve"

[2020-07-03 18:44] hdpoliveira opened #115 "Diff for symlink is not working"
When a symlink is modified to point to something else, the diff view for the current state of the file shows the contents of the file, instead of showing simply that the symlink has changed.

[2020-07-03 18:50] hdpoliveira opened #116 "Show 'heads(draft())' and 'max(public())' revisions in "Hg: Update to...""
Mercurial does not force you to create bookmarks or branches when committing. To improve usability, we could display all draft heads in the Hg: Update to... command.

[2020-07-03 19:01] hdpoliveira opened #117 "Support Annotate"
The request here is similar to what is shown for GitLens in this video: https://youtu.be/YSgDQHyQASk?t=1771

I saw some related work in https://github.com/itanka9/vscode-hg, not sure if it is functional.

[2020-07-03 19:32] hdpoliveira opened #118 "Support File History UI"
Something similar to what GitLens does: https://www.youtube.com/watch?v=bRdQw4-sGIY

We already have a File History command, so this issue is about supporting a GUI

[2020-07-03 19:35] hdpoliveira commented on #68
I believe this is already supported. You can click on the gutter for the change, then right click the deleted line and click Revert change.

Maybe what is being asked is the same as #78 - a button to do the same action?

[2020-07-03 19:36] hdpoliveira commented on #68
We don't support reverting the change for the added lines, though.

[2020-07-03 20:47] mrcrowl commented on #114
Just adding my 2c here.

I would argue that the purpose of the vscode-hg extension is to provide the _core_ features of mercurial as a convenience, rather than to be a fully-fledged mercurial GUI.

The evolve extraction, [as it is described](https://www.mercurial-scm.org/wiki/EvolveExtension) is experimental. To my thinking, the commands it provides should be rarely needed and could be run from th

[2020-07-03 21:39] hdpoliveira commented on #114
Yeah I think you're right...

[2020-07-03 21:56] hdpoliveira commented on #114
The point of having support to evolve is that users who use it depend a lot on it, to the point that they consider it as core (I am one of those :smile: )

I'll try to observe how often I need to use evolve commands/features and reflect on this a bit.

I agree that we should try to be a fully-fledged mercurial GUI.

[2020-07-03 22:29] mrcrowl commented on #114
One option that you might consider is to make vcode-hg itself extensible, and then write a separate extension for the advanced Mercurial usage.

VS Code provides a way to access the API of another extension. See the [relevant docs here](https://code.visualstudio.com/api/references/vscode-api#extensions).

[2020-07-03 22:41] #111 closed

[2020-07-03 22:48] hdpoliveira commented on #114
Nice!

[2020-07-03 23:01] incidentist commented on #114
Yeah, that's what the git extension does and the api it exposes is used by extensions like GitLens. I would like to do this to make something like GitGraph for hg, that would use the api exported by this extension.

[2020-07-04 14:02] hdpoliveira commented on #114
I'll close this issue then! Thanks for your inputs!

[2020-07-04 14:02] #114 closed

[2020-07-04 17:17] hdpoliveira commented on #40
I believe this was fixed by @incidentist with https://github.com/mrcrowl/vscode-hg/commit/590bc247c7daf4a36e4413c0a67602597451441a

[2020-07-04 19:45] hdpoliveira opened #121 "Inform user when push does nothing"
Today, when a push operation does nothing, we do not inform the user.
This enhancement is for displaying an info message saying the push did not push anything.

Mercurial prints this on this situation:
[code]

If there are secret changesets:
[code]

[2020-07-04 19:51] hdpoliveira opened #122 "Use json template for parsing hg log"
Mercurial has a builtin json template: https://book.mercurial-scm.org/read/template.html#parsing-mercurial-output
It is less error prone than specifying the template line manually, and more robust to Mercurial version changes.

[2020-07-04 22:08] hdpoliveira commented on #116
Grouping is not yet available (see https://github.com/microsoft/vscode/issues/74967)
The idea is to have an option in the quickpick to include 'heads(draft()) and heads(public())' in the QuickPick, as well as a configuration for this to be the default behavior or for disabling the button.

[2020-07-05 04:38] #95 closed

[2020-07-05 04:38] #100 closed

[2020-07-05 04:49] incidentist commented on #117
There is an old PR #56 from @KristjanTammekivi that looks good but needs testing and conflict resolution. On one hand, I use this feature all the time in git and it's great. On the other hand, it's worth thinking of @mrcrowl's point on a different ticket about whether this is "core functionality" or whether it belongs in some hypothetical "MercuriaLens" extension that has all the flashy cutting-ed

[2020-07-05 05:27] hdpoliveira commented on #117
I filled this separately from the inline annotation because in this issue I was thinking more about having the same view as the native hg annotate (as the YouTube video in the description), with all the file annotations alongside with the file contents.

In my opinion, I think it is ok to have those features in vscode-hg, and I see myself using them.

[2020-07-05 05:45] incidentist commented on #109
@mrcrowl What version of hg did you use to get that error message? I'm on hg 5.4.0 and even when I remove shelve from my extensions list in .hgrc, and verify that `shelve` doesn't appear when I run `hg config`, I can still run shelve/unshelve, even in a new repo. If I remove `purge` from extensions and try a purge, I *do* see the `unknown command` message.

[2020-07-05 06:06] incidentist commented on #109
Ah, shelve is always on by default starting in hg 5.1.

[2020-07-05 14:28] #122 closed

[2020-07-05 14:53] #112 closed

[2020-07-05 14:55] hdpoliveira opened #125 "Automate formatting via GitHub Actions"

[2020-07-05 14:56] hdpoliveira opened #126 "Automate testing via GitHub actions"
We should test all three platforms.

[2020-07-05 16:05] #125 closed

[2020-07-05 16:18] hdpoliveira commented on #126
It looks like Mercurial comes installed in [Windows latest](https://github.com/actions/virtual-environments/blob/master/images/win/Windows2019-Readme.md) and [Ubuntu latest](https://github.com/actions/virtual-environments/blob/master/images/linux/Ubuntu2004-README.md), but I didn't find anything in [Mac latest](https://github.com/actions/virtual-environments/blob/master/images/macos/macos-10.15-Re

[2020-07-05 17:12] #126 closed

[2020-07-05 17:19] hdpoliveira opened #130 "Enable testing in MacOS via Github Actions"
https://github.com/mrcrowl/vscode-hg/commit/9fef761739d72a85b4545f9925c90e788cd44600 implemented testing for Windows and Ubuntu via Github Actions.

However, for [GitHub's MacOS image does not come with Mercurial installed](https://github.com/actions/virtual-environments/blob/master/images/macos/macos-10.15-Readme.md), so we cannot run tests on it the same way.

This issue is for enabling testing

[2020-07-05 18:45] hdpoliveira opened #131 ""Mark as resolved" should check for conflict markers"

[2020-07-05 19:09] hdpoliveira opened #132 "Impossible to 'hg forget' added file during a merge"
This is a minor issue, but I'm filing this for the sake of documenting.

![add_during_merge](https://user-images.githubusercontent.com/35645457/86540194-c3c6fc80-bed9-11ea-90bf-a6a18d5db5b1.gif)

[2020-07-05 19:29] incidentist commented on #130
I install stuff on Mac using homebrew, but pip is probably the way to go here because installation would be much faster and ensures hg will use the system python. Catalina ships with both 2.7 and 3, and the `python` command runs 2.7. You gotta run `python3` and `pip3` to run Python 3, and then we'd have to tell VSCode to use those python executables as well. Everything should work fine in 2.7 anyw

[2020-07-05 19:31] incidentist commented on #40
I think so too. Closing for now.

[2020-07-05 19:31] #40 closed

[2020-07-05 19:39] incidentist commented on #118
How do you feel about the GUI for this being the Timeline view (#77) instead of being driven by the command palette?

[2020-07-05 20:03] hdpoliveira commented on #118
I think you are right but I'm not sure.
The only way to know is implementing #77 and checking if it is enough.
Are you working on #77?

[2020-07-05 20:11] mrcrowl commented on #118
Makes sense to me to use timeline. Command palette always felt like a hack.

[2020-07-05 20:17] hdpoliveira commented on #118
Closing in favor of #77

[2020-07-05 20:17] #118 closed

[2020-07-05 20:19] incidentist commented on #118
I started on it awhile back, but moved on to other stuff because it's not clear to me if we can ship an extension that uses the Timeline API since it isn't finalized yet. If you want to take it, go for it. I did maybe 20 minutes of work that probably isn't worth reviving since the repo has changed so much.

[2020-07-05 20:37] #109 closed

[2020-07-05 21:02] hdpoliveira commented on #71
@incidentist I'm filing issues left and right here 😄
The ones I'm working on I'm putting myself as the assignee.
Feel free to pick any issue you'd like!

[2020-07-06 05:28] incidentist commented on #59
Looking into this more, the problem I was able to reproduce is that connecting to a remote that uses http auth displays an error message saying `Hg: http authorization required for <repo url>`. There's not a whole lot we can do to handle http auth properly right now. I suggest one of the following:

1. Use SSH auth with public key authentication.
2. Use the [`mercurial-keyring`](https://pypi.org/p

[2020-07-06 11:23] KristjanTammekivi commented on #117
Note: if you plan on building on my work, there's a nasty bug in there where it seems to show the wrong commit message (among some other bugs I'm sure). I'll keep my forked repository (in case someone wants to continue the work) until the feature has been implemented here, but I don't use mercurial anymore so I don't intend to finish it myself.

[2020-07-06 14:57] #37 closed

[2020-07-06 14:57] #98 closed

[2020-07-09 05:13] mrcrowl opened #138 "Blah"

[2020-07-09 23:25] ghost opened #139 "Support file renames"
At the moment there does not seem to be any way to rename files from within VSCode such that Mercurial would keep track of the rename. Doing it from the command line of course works, but then one has to go through the slightly cumbersome step of closing and reopening the file in VSCode.

1. Would it be possible for the extension to hook into the VSCode explorer rename feature to tell Mercurial of

[2020-07-10 18:15] yadayadaydadaa opened #140 "Pushes fail with the topic extension in use"
When I'm using the topic/evolve Mercurial extensions, pushes from within the vscode extension complain
[code]
Pushing from the command line has no such problem.

The topic extension does allow multiple heads in the view of tools unaware of it (including Mercurial where it has not been enabled). However, in this specific instance I don't even have multiple heads: the “topic branch” I'm in is simply

[2020-07-11 21:27] hdpoliveira commented on #140
This may have been fixed in https://github.com/mrcrowl/vscode-hg/issues/37.
@yadayadaydadaa could you please share instructions on how to reproduce the problem?

[2020-07-11 22:23] hdpoliveira opened #143 "Revamp Operations to use a Set"
Currently, Operations in repository.ts uses bitwise AND/OR to indicate operations currently happening.
We are about to go over 32 bits, so we should change it to use a Set instead. Git extension does it that way.

[2020-07-12 01:00] #68 closed

[2020-07-13 12:25] hdpoliveira commented on #78
@incidentist this is implemented now, right?

[2020-07-13 12:33] hdpoliveira commented on #58
We now have tests running in Ubuntu, and also a warning when the tool did not find Mercurial installation instructing the user on how to proceed.

@oursoc can we close this issue?

[2020-07-13 12:44] hdpoliveira commented on #76
@angryDuck2 thanks for reporting this.
The message comes from hgserve module.

[2020-07-13 12:55] hdpoliveira commented on #59
@incidentist the original issue reports a never ending push, which probably means the push command is stuck waiting for a password input. Were you able to see this behavior?

[2020-07-13 16:25] incidentist commented on #78
Yep!

[2020-07-13 16:25] #78 closed

[2020-07-13 17:52] 1point618 commented on #58
Funny enough I came here to report this same thing. Mercurial is installed and apparently being detected, and `default` is set in the repos' .hg/hgrc files, but the extension doesn't recognize that and gives me a pop-up which sends me to the local user hgrc file.

[2020-07-13 20:37] incidentist commented on #59
No, I didn't see that behavior. For me, it just errors out. The difference in symptoms could be caused by 1) different hg server setups, 2) some change in our code since the issue was first reported, or 3) some other third thing.

[2020-07-13 20:40] JaderCM commented on #59
I reported this issue with a connection with HG repository on bitbucket that is not supported any more. With this reason I will close this bug.

[2020-07-13 20:40] #59 closed

[2020-07-13 20:45] incidentist commented on #58
@1point618 Your issue sounds slightly different: the extension finds the hg executable but is not recognizing the paths set on the repo, whereas the original issue is about not being able to find the hg repo at all.

You can help us diagnose this by pasting the hg extension log here. To find that log, click `Show hg output` in the menu of the Source Control pane.

![Screen Shot 2020-07-13 at 1 43

[2020-07-13 21:39] 1point618 commented on #58
I think I discovered the issue thanks to the logs there.

I had my source folder opened, which has multiple tracked repository folders inside of it.

I opened those as separate top-level folders in VS Code, it appears to be working now.

Thanks very much!

[2020-07-13 21:41] incidentist commented on #58
Great! Given that, and that I can't repro the original issue, I'm closing this.

[2020-07-13 21:41] #58 closed

[2020-07-14 01:13] hdpoliveira commented on #143
@incidentist issues #25 and #49 are around this area, if you want to take a look

[2020-07-14 19:58] yadayadaydadaa commented on #140
[code]

Now edit the file in VSCode, commit (using vscode-hg). So far no problem. Try to push with vscode-hg: get the complaint.

[2020-07-19 15:33] hdpoliveira opened #147 "Handle conflicts with origin other than merge"
The extension handles correctly conflicts coming from the merge command, such as the following:
[code]

However, the following are not signaled as conflicts:

* shelve/unshelve (can be done completely via extension)
[code]
* rebase
[code]
* update
[code]

[2020-07-19 17:23] hdpoliveira opened #148 "Shelve related commands are showing in palette even if no hg repository is present"
To reproduce: open a folder that is not an hg repository and go to the command palette

![image](https://user-images.githubusercontent.com/35645457/87880833-47e5ad80-c9cb-11ea-9d43-231f84514006.png)

[2020-07-19 19:05] hdpoliveira opened #149 "Create command to abort merge"
There is no way to abort a merge via the extension.

[2020-07-19 20:38] hdpoliveira commented on #147
I'm taking a look at mercurial code to understand how it knows if a rebase is in place.
Code calls API 'addunfinished' (since v5.1) to register state files, under .hg directory.

- Histedit extension: .hg/histedit-state
- Rebase extension: .hg/rebasestate
- Graft extension: .hg/graftstate
- Transplant extension: .hg/transplant/journal
- Unshelve: .hg/shelvedstate
- Update: .hg/updatestate
- Bisect

[2020-07-19 20:39] hdpoliveira commented on #147
This is very useful for us to detect when abort/continue command can be run.

[2020-07-20 09:09] jhony1104 opened #150 "No changes list after commit"
After a commit, it can happen that the changes list is no longer visible/no longer exists. The only way to restore it is to restart/reload vscode.

Other functions like rollback still work.

Trying to switch between list and tree view (in error state) results in: `Cannot read property 'templateData' of null`

vscode-hg: 1.6.0

Version: 1.47.1
Commit: 485c41f9460bdb830c4da12c102daff275415b53
Date:

[2020-07-28 00:32] #116 closed

[2020-08-03 02:11] hdpoliveira commented on #140
Just confirmed: this is fixed by #37 :)

[2020-08-03 02:26] #113 closed

[2020-08-03 02:27] #140 closed

[2020-08-03 02:43] hdpoliveira commented on #148
With the fix:
![image](https://user-images.githubusercontent.com/35645457/89141092-f33d4900-d519-11ea-990f-00536c375195.png)

[2020-08-03 02:45] #148 closed

[2020-08-03 03:01] hdpoliveira commented on #71
@mrcrowl I think we're ready for version 1.7.0 🥳 🎉

[2020-08-03 06:57] mrcrowl commented on #71
[v1.7.0 released](https://github.com/mrcrowl/vscode-hg/releases/tag/v1.7.0) and published to vscode marketplace

[2020-08-03 06:57] mrcrowl commented on #71
Great work gents :D

[2020-08-03 22:17] yadayadaydadaa opened #156 "Only create a “source control provider” for folders added to the project (vscode refuse-to-fix bug workaround)"
I frequently have *hundreds* of source control providers listed for a window, not intentionally but due to refuse-to-fix bugs/major design errors in VSCode itself (https://github.com/microsoft/vscode/issues/76262 https://github.com/microsoft/vscode/issues/101819). It frequently does not open files opened from the command line, including SyncTeX backward search from a PDF viewer, in the correct win

[2020-08-05 12:31] hdpoliveira commented on #139
No1 may be feasible by listening to the onDidRenameFiles workspace event.

[2020-08-05 12:42] hdpoliveira commented on #150
@jhony1104 could you please watch out for this?

If/when it happens, please send us a print of the screen and the log of the extension (accessible via >Show hg output in the command palette) if possible.

[2020-08-05 13:00] hdpoliveira commented on #156
Hi @yadayadaydadaa

I'm not sure we can do these. Letter a is asking for us to drop consistency with the way other SCM extensions are implemented (which we don't want), while letter b is not feasible.

You are right: this seems an issue in vscode itself. Trying to fix it at our level would not be productive.

[2020-08-08 14:40] melink14 opened #157 "Show status and diffs of current commit as compared with immediate ancestor"
When I'm working on a feature bookmark, I will amend often while developing before sending the final version of the commit off for review.

Right now the extension only shows uncommitted files and diffs but it would also be useful to see the already committed files in draft commits when compared with their immediate ancestor.

[2020-08-14 17:31] kafumanto opened #158 "Gutter indicators stopped working with VSC 1.48"
After installing the "July 2020 (version 1.48)" of Visual Studio Code, the "gutter indicators" stopped working with files in a Mercurial repo.

[2020-08-15 19:31] hdpoliveira commented on #158
Confirmed. @kafumanto Thanks for reporting! I'll take a look at this.

[2020-08-15 20:30] hdpoliveira commented on #158
Unfortunately, this is an issue in vscode itself, and has been reported by other maintainers of SCM extensions.
We will have to wait for a fix from them.

[2020-08-15 23:58] hdpoliveira commented on #157
Hi @melink14,
We have 'Hg - Log...' commands which do what you are requesting. You can explore any commit on current branch/default branch/entire repository and check what files have been modified and the modifications with respect to their immediate ancestor.

[2020-08-16 03:49] melink14 commented on #157
Thanks for the response and your recent work on the extension! I had to play with it a bit but was able to understand fairly quickly. I wouldn't have thought to look there since I was associating the features with different commands than `log`. This should be fine 90% of the time so the rest is just stretch goal ideas.

It'd be nice if a reasonable `log` view could always be present in the UI thou

[2020-08-16 04:20] melink14 commented on #157
One other comment: Before a push/PR I usually want to do a final check of my commit. The flow of having to run the log command and click twice for each file in the commit is a but cumbersome though I'm not sure if it's possible to open all the diffs at once via a command...

[2020-08-16 11:47] kafumanto commented on #158
Ok, thanks for looking at this!
And thanks a lot for taking care of this extension :)

[2020-08-18 02:54] #158 closed

[2020-08-18 15:10] shriniwas26 opened #160 "Gutter diff on left margin not working"
VS Code version: 1.48.0
Extension version: 1.7.0

The diff is available when viewing it explicitly:
![image](https://user-images.githubusercontent.com/3761636/90530700-7a72f980-e175-11ea-8cb0-f044bec68deb.png)

Gutter diff is not visible:
![image](https://user-images.githubusercontent.com/3761636/90530762-8c549c80-e175-11ea-9aed-a82e6ae30ed6.png)

[2020-08-19 00:46] hdpoliveira commented on #160
Hi @shriniwas26 ! Thanks for reporting this!
This is an issue in vscode itself: https://github.com/mrcrowl/vscode-hg/issues/158
We have coded a change that works around the issue and will release soon.

[2020-08-19 00:47] #160 closed

[2020-08-19 09:24] #150 closed

[2020-08-19 09:25] jhony1104 commented on #150
Since I stopt seeing the issue and therefore can no longer reproduce it, I closed the issue.

[2020-08-19 13:00] hdpoliveira commented on #150
Thanks @jhony1104 !

[2020-08-22 06:26] Kurunato opened #162 "Only run hg for the working directory"
I noticed that on startup of vscode the Output for Hg had a bunch of `hg root` commands for directories that are under ../vendor. I also noticed that the same thing happens for other directories when opening files that are not in the working directory or workspace. I have several directories in my workspace, and only one of them uses hg. Is it possible to configure the extension to only run comman

[2020-08-30 16:09] hdpoliveira commented on #162
Hi @Kurunato!

This is the default behavior of the extension, and it is consistent with Git's extension as well.
`hg root` shouldn't be expensive to run. Is it causing an issue?

[2020-08-30 16:14] hdpoliveira commented on #157
@melink14 would it be beneficial to your flow to add a "View all" or "Open all changes" in the hg log commit menu? (I'm not sure this can be implemented, but I have experienced this difficulty as well)

[2020-08-30 16:24] hdpoliveira opened #164 "Improve Update menu with commit's description first line"
![image](https://user-images.githubusercontent.com/35645457/91664198-02d19280-eac4-11ea-852f-8f10161a8ee8.png)

It would be nice if the first line of the description was also shown.

[2020-09-06 15:01] hdpoliveira commented on #77
Depends on https://github.com/microsoft/vscode/issues/84297

[2020-09-10 06:00] #143 closed

[2020-09-24 00:39] melink14 commented on #157
Yeah, something like that would definitely reduce the pain. (sorry for the late reply)

I also was thinking about the larger problem of losing context as soon as one commits again and was wondering if a way to specify relative revset would be useful, especially in the case where the source panel is otherwise empty due to no working changes.

- Add an option to make commands relative to parent if t

[2020-09-24 07:26] yadayadaydadaa opened #165 ""There are no changes to commit”"
Frequently, even without my latest settings changes, the extension has complained that “There are no changes to commit” despite there being changes. I've thought this to be due to the sluggishness of VSCode actually writing files on disk (in 2020!). Recently, to reduce the massive CPU usage of VSCode due to vscode-hg polling, I set
[code]
After this, it is impossible to commit at all from the exte

[2020-10-01 12:03] dranitski opened #166 "Cannot open new image under source control - File seems to be binary and cannot be opened as text"
Dear team,
![image](https://user-images.githubusercontent.com/27373393/94805993-f065b400-03f5-11eb-92a6-01ebb1fe4b69.png)

if I add new image to hg repo then the extension can not show me it under the Source control tab but shows an error instead
![image](https://user-images.githubusercontent.com/27373393/94806080-11c6a000-03f6-11eb-992c-b3af71f2a13d.png)

however I can easily see the difference b

[2020-10-22 18:24] jtobin321 commented on #117
Has this ever been implemented? I would also really love to be able to see annotations in VS code for mercurial. A lot of people at my company use PHP Storm which does this natively, but VS code does not, even with this extension.

[2020-10-22 21:00] incidentist commented on #117
@jtobin321 Neither of the annotation UIs discussed in this thread have shipped in the extension. We could roll out annotations for the currently-selected line fairly quickly, because most of the work has already been done. A UI of side-by-side annotations for every line would probably take more time. Knowing that there is demand for this is motivating me to at least get the currently-selected-line

[2020-10-23 06:11] jtobin321 commented on #117
Hey @incidentist thanks for getting back to me. Yes, if you're are able to roll out even just the single line annotations I think that would be super helpful. Of course, being able to see all lines would be great, but I completely understand that would take more time. Let me know if the single line feature gets shipped and thank you again!

[2020-10-26 04:16] jtobin321 commented on #117
Hey @incidentist no rush, but just curious if the single line annotations are going to be implemented. Like I said, this would be super helpful for me in my current workflow. Let me know, thank you!

[2020-12-25 15:00] kchangtetrion commented on #36
I am in need of this feature.  I'm happy to take a crack if anyone can help me get pointed in the right direction.  I have 0 TypeScript skills, but have used mercurial for a while.

[2020-12-25 21:53] incidentist commented on #36
@kchangtetrion A PR for this feature would be very welcome! TypeScript is not too difficult if you've used typed languages before. I don't have bandwidth currently to start on this, so if you started on it that might be the fastest way to make it happen, especially if you have a good working knowledge of subrepos.

In general, this extension tries to mirror the structure of the [vscode git extensi

[2021-01-08 20:44] architchandra commented on #158
Has this been fixed? Gutter indicators still don't work for me.

VS Code: 1.52.1
Hg plugin: 1.7.1
Mac OS: 10.14.6

[2021-01-10 23:08] #166 closed

[2021-01-11 07:28] incidentist commented on #158
@architchandra This was fixed in 1.7.1 in August, and still works for me on 1.52.1. Do you have any other SCM extensions installed?

[2021-05-01 05:49] chintan-mishra opened #170 "Please release extension for OpenVSX"
OpenVSX is the Eclipse Foundation powered marketplace for VSCode builds not affiliated to Microsoft. I have recently started using [VSCodium](https://vscodium.com/) which is a telemetry-free open source build for VSCode. It is unclear if using Microsoft VSCode Marketplace is entirely legal.

Thus, I request you to release your extension on https://open-vsx.org.

I volunteer to help you maintain th

[2021-05-01 06:37] mrcrowl commented on #170
Hey Chintan, yeah I’m familiar with OpenVSX through my work. Happy to put
it up there too.

On Sat, 1 May 2021 at 5:49 PM, Chintan Mishra ***@***.***>
wrote:

[2021-05-01 17:51] chintan-mishra commented on #170
Thank you @mrcrowl

[2021-05-03 15:17] kchang718 commented on #36
ok, when time allows, I'll go through the examples and see if I can make some sense of it.

[2021-09-10 08:44] Alphare commented on #117
I've just switched from PyCharm to VsCode and I agree that this would be a very welcome addition. (I am also a Mercurial core dev if you need help for anything.)

[2021-09-10 23:34] incidentist commented on #117
@Alphare I appreciate the nudge. This is now back on my radar and I hope to work on it soon but I don't have a timeline.

[2021-09-11 01:43] SamB commented on #170
@brianking responded in https://github.com/EclipseFdn/open-vsx.org/issues/496#issuecomment-841175734:

So I guess you're clear to upload now?

[2021-09-11 01:48] SamB commented on #170
In the meantime, we can use the VSIX files from https://github.com/mrcrowl/vscode-hg/releases.

[2021-12-10 01:24] incidentist commented on #117
I've started working on this. It's more challenging than expected. Git returns blame lines for every line in a file, even uncommitted lines. `annotate` does not, so once we have annotated lines, we need to figure out which lines in the editor correspond with which lines of `annotate` output. Furthermore, `git blame` has a `--contents` flag that basically means "annotate the file as if the stuff I'

[2021-12-10 13:13] Alphare commented on #117
Thanks for starting this! And for pinging me.

The working copy is internally a changeset like any other, so for your first question you can do `hg annotate --rev 'wdir()' FILE`, which will annotate all lines including the dirty ones (those will have a `+` at the end).

Regarding the second question (`git blame --content` equivalent), there is no way of doing so from the command line currently. It

[2021-12-10 17:09] incidentist commented on #117
@Alphare Thanks! I made some progress last night, and this will help.

[2021-12-14 09:36] Alphare commented on #139
Just so it's said: `hg move source target --after` (or the same with `copy`) would work if run in the right hook from VSCode.

[2021-12-14 17:53] incidentist opened #173 "Blackbox extension causing constant status checks"
Related to #14 , it seems like the blackbox extension has changed such that it is once again causing constant status updates. It writes to temp files with names like `/Users/incidentist/Code/temp/testrepo/.hg/.blackbox.log-21j24zy72~` basically the same as in the original bug but now they end in `~` so it is not caught by the `\w+` at the end of the regex.

[2022-01-03 18:59] incidentist commented on #173
This fix will ship in 1.8.0.

[2022-01-03 18:59] #173 closed

[2022-01-03 19:03] incidentist commented on #139
This will ship in 1.8.0.

[2022-01-03 19:03] #139 closed

[2022-01-09 00:04] aminomancer commented on #158
So, the gutter decorations don't work for me unless I either 1) disable GitLens, 2) don't have any git repositories in the current workspace, or 3) if I need to have a git repo open in the workspace, then make sure the first editor to open is an hg repo, not a git repo. For #3 if I mess this up I can just open one of the hg repo's files so it's the active tab, then hit Ctrl+R to reload. It also wo

[2022-01-30 23:02] incidentist commented on #117
This has shipped with v1.8.0. A config setting toggles annotate for the currently selected line, and an `Hg: Toggle annotations for this file` command is in the command palette. The file annotations go away when the file is edited, same as GitLens. I'm going to close this out; if you have requests to tweak this feature, please submit a new issue. Thanks!

[2022-01-30 23:02] #117 closed

[2022-02-01 09:07] Alphare opened #178 "Unable to use or copy hash in gutter annotations"
First of all, thanks for shipping annotations support, it will prove very useful. :)

I usually use `hg annotate` to get more information or even follow code through history (with `hg export` and other calls to `annotate`). When using gutter full-file annotations, I am unable to do anything with the pop-up window that appears on hover.

I would like to be able to easily copy the (preferably full)

[2022-02-01 09:14] Alphare opened #179 "Allow customizing annotations"
Both the gutter and the inline annotations currently have a format that might not be optimal for everyone.

I would personally leave the inline as they are, but I would love to shorten the gutter to just the short author and short hash, equivalent to `hg annotate -cu FILE`.

I have a vertical monitor for my IDE and the current gutter annotations basically take up half of my screen to show a trunca

[2022-02-01 09:22] Alphare opened #180 "Allow following annotations through history"
Sometimes trying to understand the changes a file/function went through implies combing through multiple layers of history.

In the CLI it's basically `hg annotate REV` + `hg export REV2` + `hg annotate REV2`. It's been on my bucket list for some time to add some sort of interactive option for annotate in Mercurial that would help streamline this process, but alas I have too little time as of righ

[2022-02-02 13:47] Alphare opened #181 "Flickering inline annotations when typing fast"
It appears as if the newly released inline annotations are not debounced or do not take new text into account well enough, which causes the annotation to appear inserted before the last few characters typed (if typing fast enough) for a fraction of a second.

[2022-03-11 09:13] gd4Ark opened #183 "Print stdout in Hg log"
I added a pre-commit hook to the hg repository that uses eslint to check for syntax errors, and when I commit the code via vscode-hg, if an error occurs with eslint, it commits terminal, but I can't see any hint about the eslint rule in the hg ouput.

I see the following output.
[code]

Output of the terminal:
[code]

I think this is because vscode-hg only prints stderr, not stdout.

This is the i

[2022-03-11 11:57] mrcrowl commented on #170
Sorry for the absurd delay in getting this done. Hg is now published at https://open-vsx.org/extension/mrcrowl/hg

<img width="1791" alt="image" src="https://user-images.githubusercontent.com/1796256/157862711-ab9abeda-ca03-4448-9937-367bf7bf99a7.png">

[2022-03-11 11:58] #170 closed

[2022-03-11 11:58] #71 closed

[2022-03-12 05:36] #183 closed

[2022-03-23 18:44] cantonios commented on #157
Sweet!  I didn't know Hg - Log... was here.

I usually have a similar workflow, where I continuously amend a draft commit and want to double-check compared to the immediate parent.  The hg log does provide a work-around, though is a bit cumbersome, particularly if there are multiple files.  Ideally we would be able to set a specific commit to compare to for the Source Control view.

[2022-05-31 08:44] palant opened #187 "Running incoming and outgoing commands in parallel isn’t always supported"
This code will run `hg incoming` and `hg outgoing` in parallel which is problematic:

https://github.com/mrcrowl/vscode-hg/blob/923f5113d758beb1fe323eafbfe46176b1ad01ed/src/repository.ts#L1134-L1143

I have `hg-git` extension installed which locks the repository for these commands. Consequently, running them in parallel results in an error:

[code]

Maybe drop `Promise.all()` here and run the comm

[2022-07-10 00:42] ian-henderson opened #188 "Extension cannot find existing hg instance"
<img width="1218" alt="Screen Shot 2022-07-09 at 18 42 05" src="https://user-images.githubusercontent.com/10488956/178127081-3509a208-f6df-45c9-b28e-3dac0bd5a3ff.png">

<img width="894" alt="Screen Shot 2022-07-09 at 18 42 34" src="https://user-images.githubusercontent.com/10488956/178127093-176d67fb-26c7-4015-b6b9-988f02f6eabd.png">

[2022-07-10 01:29] #188 closed

[2022-07-10 04:09] mrcrowl commented on #188
Out  of curiosity, do you know what the issue was?

On Sun, 10 Jul 2022 at 1:29 PM, Ian Henderson ***@***.***>
wrote:

[2022-07-10 20:17] ian-henderson commented on #188
I resolved the issue by manually pointing vscode to the instance via `"hg.path": "/Users/ian/Library/Python/3.9/bin/hg"`. I didn't think to try that since the output suggested that vscode was already aware of it.

[2022-07-20 18:22] eLeCtrOssSnake opened #189 "Why does this mercurial extension use git as it SCM and not hg?"
Question.

[2022-07-20 19:20] mrcrowl commented on #189
I wrote this extension to enable Mercurial to be used within vscode, because the company I worked for was still using tortoisehg at that time.

However, I was using git on all my personal projects. This fell into the category of personal project, and as such, I chose git.

[2022-07-20 19:22] mrcrowl commented on #189
See also https://github.com/mrcrowl/vscode-hg/issues/71

[2022-08-31 21:55] Tadas opened #190 "100% CPU usage when navigating through a file with line annotations enabled"
Navigating a file by holding down or up arrows causes CPU usage to spike to 100%. When I let go of the key line annotations for skipped lines start appearing in random order. After it settles down, the annotation left showing is not for the line the cursor is on.

Shouldn't this debounce period be longer than 0? Bumping it up to 100 or so seems to have fixed it.
https://github.com/mrcrowl/vscode-h

[2022-09-02 11:03] xorz57 commented on #147
@hdpoliveira what is your `.hgrc`?
I am having trouble getting VS Code to work as a merge tool.

[2022-09-02 12:51] hdpoliveira commented on #147
Hi @xorz57 ,

I recently noticed this feature stopped working as well. I'm not sure at what version of vscode it got broken

[2022-09-15 07:44] xorz57 opened #191 "Add Support for Shelve Extension"
https://www.mercurial-scm.org/wiki/ShelveExtension

[2022-10-15 13:48] SethFalco opened #192 "%command.openChange% button on code editor just displays an error to users"
When I have this extension enabled, all code editors include a new icon with the hover text `%command.openChange%`.

![image](https://user-images.githubusercontent.com/22801583/195989813-2bd2a14c-17ad-4171-9dc2-30ddcb37d857.png)

However, this button has never actually worked for me. It just displays a prompt to the user that a command was not found.

![image](https://user-images.githubusercontent

[2022-11-28 14:00] Alphare opened #193 "Change title color of files according to `hg status`"
As far as I understand, there is no way of telling the extension to change the title color according to `hg status` like other popular VCS extensions do.

This would be quite useful to me since I often have a few files open, only some of which I've modified, but also to see the new files I forgot to add, etc.

If there's any way I can help, please tell me how.